<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head th:fragment="common-header">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/mdb.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/datatables.min.css}" type="text/css" />

<link rel="stylesheet" th:href="@{/css/styleTemplate.css}" />

</head>

<head th:fragment="common-header-Dashboard">

<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<meta charset="utf-8" />
<!-- <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}"> -->
<link rel="icon" type="image/png" th:href="@{/img/spk-favicon.ico}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/light-bootstrap-dashboard.css?v=2.0.0} " rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/css/demo.css}" rel="stylesheet" />

<link rel="stylesheet" th:href="@{/datatables.min.css}" type="text/css" />


<link rel="stylesheet" th:href="@{/css/mdb.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css" />

<link rel="stylesheet" th:href="@{/css/styleTemplate.css}" />
<link rel="stylesheet" th:href="@{/css/resources.css}" />



</head>
<body>
	<div th:fragment="navbar">

		<!--Navbar -->
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-secondary fixed-top" id="fixedNavTop">
			<a class="navbar-brand" th:href="@{/}" id="logo"><img
				th:src="@{/Images/logo.png}" /></a><a th:href="@{/}"><span class="brand-name">School Connex</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent-4"
				aria-controls="navbarSupportedContent-4" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link nav-weight nl" th:href="@{/#home}">
							Home </a></li>
					<li class="nav-item"><a class="nav-link nav-weight nl" th:href="@{/#Resources}">
							Resources </a></li>
					<li class="nav-item dropdown nav-weight">
			        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          About
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item nav-link nl" th:href="@{/#About-us}">About Us</a>
			          <a class="dropdown-item nav-link nl" th:href="@{/#Event}">Event</a>
			          <a class="dropdown-item nav-link nl" th:href="@{/#Testimonial}">Testimonial</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item nav-link nl" th:href="@{/#Contact-us}">Contact Us</a>
			        </div>
			      </li>
					<li class="nav-item dropdown">
						<div sec:authorize="isAuthenticated()">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fas fa-user"></i>  <span th:text="${LoggedUser.getFname()}"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info"
								aria-labelledby="navbarDropdownMenuLink-4">
								<!-- <div th:if="${session.UserLogedRole == 'Admin' or session.UserLogedRole == 'Parent' or session.UserLogedRole == 'Learner' }"> -->
								<div sec:authorize="hasAnyAuthority('Admin','Learner','Parent','Teacher')">
									<a th:href="@{/dashBoard}" class="dropdown-item" type="button" style="text-align:center">DashBoard</a>
									<div class="dropdown-divider"></div>
								</div> 
			
								<a th:href="@{/logout}" class="dropdown-item" type="button" style="text-align:center">Logout</a>
							</div>
						</div>

						<div sec:authorize="isAnonymous()" class="nav-login">

							<a th:href="@{/Login}" class=" n-btn nav-link">Log
								In</a> <a th:href="@{/Signup}" class="n-btn nav-link">Register</a>

						</div> 
			</div>


			</li>
			</ul>
		</nav>
		
	</div>




	<!--/.Navbar -->


	<div class="container" id="Home">

		<div class="row">
			<!--  <div class="col-2">
                <a th:href="@{/}" id="logo"><img th:src="@{/Images/logo.png}"/></a>
            </div>
           -->
			<div class="col-sm">
				<form th:action="@{/courses}" class="form-inline" method="get">

					<div class="pad-extra">
						<label class="sr-only" for="inputState">Class</label> <select
							id="inputClass" class="form-control" name="classSelected"
							style="width: 250">

							<option selected>Select Class</option>
							<span th:each="classValue: ${classfromDatabase}">
								<option><span
										th:text="'Class '+${classValue.getClassName()}"></span></option>
						</span>
						</select>
					</div>

					<div class="pad-extra">
						<label class="sr-only" for="inputState">Subject</label> <select
							class="form-control" name="subjectSelected" id="subjectHome"
							path="subject" style="width: 250">
							<option selected>Select Subject</option>
							<span th:each="subjectValue: ${subjectfromDatabase}">
								<option><span th:text="${subjectValue.getSubName()}"></span></option>
						</span>
							<!--  <options items="${cities}" itemValue="id" itemLabel="name" />-->

						</select>

					</div>

					<div class="pad-extra">

						<button type="submit" class="btn btn-primary btn-rounded"
							id="headerSubmit">Submit</button>
					</div>

				</form>
			</div>
			<div>

				<div class="row justify-content-end">

					<div class="dropdown pad-extra-submit"
						th:if="${session.UserLogedName}">
						<a class=" dropdown-toggle" id="dropdownMenu2"
							data-toggle="dropdown" aria-expanded="false"
							style="display: flex; color: black; font-size: 23px">
							<div th:text="${session.UserLogedName}"></div>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<div
								th:if="${session.UserLogedRole == 'Admin' or session.UserLogedRole == 'Parent' or session.UserLogedRole == 'Learner' }">
								<a th:href="@{myAccount}" class="dropdown-item" type="button">My
									profile</a>
								<div class="dropdown-divider"></div>
							</div>
							<div th:if="${session.UserLogedRole == 'Admin'}">
								<a th:href="@{home}" class="dropdown-item" type="button">View
									Admin Section</a>
								<div class="dropdown-divider"></div>
							</div>
							<div th:if="${session.UserLogedRole == 'Teacher'}">
								<a th:href="@{myAccount}" class="dropdown-item" type="button">Contributor
									Dashboard</a>
								<div class="dropdown-divider"></div>
							</div>
							<a th:href="@{/logout}" class="dropdown-item" type="button">Logout</a>
						</div>
					</div>

					<div class="pad-extra-submit" th:unless="${session.UserLogedName}">
						<a th:href="@{Login}">Log In</a> | <a th:href="@{Signup}">Register</a>
					</div>
				</div>



			</div>


		</div>
	</div>
	</div>

	<!-- ----------------------------------------------------------------------------------------------------------------- -->


	<div th:fragment="navbar-Admin">

		<!--Navbar -->
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
			<a class="navbar-brand" th:href="@{/}">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent-4"
				aria-controls="navbarSupportedContent-4" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/admin}">
							<i class="fas fa-tachometer-alt"></i>Dashboard <span
							class="sr-only">(current)</span>
					</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i> <span
							th:text="${session.UserLogedName}"></span>
					</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-info"
							aria-labelledby="navbarDropdownMenuLink-4">

							<a class="dropdown-item" th:href="@{/logout}">Log out</a>
						</div></li>
				</ul>
			</div>
		</nav>
		<!--/.Navbar -->

	</div>
	

	<!--  ******************************************* FOOTER SECTION ******************************************************** -->
	<div th:fragment="footer">
		<section class="copyright py-4 text-center text-white">
			<div class="container">
				<small>Copyright &copy; Spoken Tutorial 2020</small>
			</div>
		</section>
	</div>


	<!-- ----------------------------------------------------------------------------------------------------------------- -->

	<!-- --------------------******** Modal for terms and conditions*********--------------------------- -->
	
	<div th:fragment="Terms-condition-Modal">
	
		<div class="modal fade" id="exampleModalScrollable" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Terms and
						Conditions</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
					dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
					 It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
					 desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn spk-btn"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	</div>
	
	<!-- -----------------------------*********END MODAL ********************----------------------------------------->

	<div th:fragment="body-bottom-scripts">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>

		<!--  	<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>   -->

		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/all.js}"></script>
		<script th:src="@{/js/mdb.js}"></script>

		<script th:src="@{/datatables.min.js}"></script>

		<script th:src="@{/js/ajaxPoperty.js}"></script>
		
		
		<script src="https://use.fontawesome.com/0ef95eb641.js"></script>
		

		</div>
		
		
		
		<div th:fragment="body-bottom-scripts-Dashboard">
		<!--   Core JS Files   -->
		 <script th:src="@{/js/jquery.3.2.1.min.js}" type="text/javascript"></script> 
		<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
		
		<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
		<script th:src="@{/js/bootstrap-switch.js}"></script>
		
		<!--  Chartist Plugin  -->
		<script th:src="@{/js/chartist.min.js}"></script>
		<!--  Notifications Plugin    -->
		<script th:src="@{/js/bootstrap-notify.js}"></script>
		<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
		<script th:src="@{/js/light-bootstrap-dashboard.js?v=2.0.0 }" type="text/javascript"></script>
		<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
		<script th:src="@{/js/demo.js}"></script>
		
		<script th:src="@{/datatables.min.js}"></script>

		<script th:src="@{/js/ajaxPoperty.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/all.js}"></script>
		<script th:src="@{/js/mdb.js}"></script>
		
		
		
		<script src="https://use.fontawesome.com/0ef95eb641.js"></script>


	</div>

	<div th:fragment="mdb-header">
		<link rel="stylesheet" href="css/mdb.css" type="text/css" />
		<script src="js/mdb.js"></script>
	</div>

</body>
</html>
