<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="common/header :: common-header"></div>

<title>About</title>

</head>
<body>

	<!--  CODE FOR NAVBAR -->
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container" id="about-page">
	<div class="row p-md-5">
    <div class="col-md-6 abt_txt">
    	<h1>About Us</h1>
		<p>
		Spoken Tutorial School Connex is a derivative of the multi-award winning educational content portal - Spoken Tutorial.  
		Here you can access various free educational resources that will help you in understanding School level Science and Maths concepts clearly.  
		Teachers, Students and Parents can use all these resources for teaching-learning purposes, free of cost.  
		All the content published on this website is shared under the CC BY SA license.
		</p>
		<div>
	<h4>About this project:</h4>
	<p>The Spoken Tutorial project is funded by the National Mission on Education through Information and Communication Technology (ICT), 
	launched by the Ministry of Human Resources and Development, Government of India. </p>
	</div>
    </div>
    <div class="col-md-6 contri px-md-5 py-3">
    	<h4>Your Contributions</h4>
		<p>
		Spoken Tutorial School Connex is a <span class="underline">community-based website</span>, and we welcome your contributions. 
		If you are a <span class="underline">teacher</span> and you wish to submit a lesson plan, useful links, quizzes or concept maps for a topic, 
		then get in touch with us and share your ideas.  Together we will collaborate and add your resources to the topic. 
		Once your resources are reviewed by our team of experts, they will be published and hosted on this site and will become part of the 
		public domain, thus benefiting all who are interested in learning from it.
		</p>
		<!-- <p>For more details, please write to contact@school.spoken-tutorial.org 
		Or visit  </p> -->
    </div>
    
    <div class="col-sm-12">
    <hr>
    <div class="row">
    	<div class="col-md-6 abt_pi">
    	<div class=" p-3">
    	<h4>About PI:</h4>
    		<p>
    		Prof. Kannan M. Moudgalya, Chemical Engg. Dept., IIT Bombay</p>
			<p><a href="https://www.che.iitb.ac.in/online/faculty/kannan-m-moudgalya" class="text-info" target="_blank">Details</a></p>
			
    		
    		
    	</div>
    		
    	</div>
    	<div class="col-md-6 abt_cord">
    	<div class=" p-3">
    	<h4>Project Coordinated by:</h4>
    		<p>
    		Dr. Snehalatha Kalliappan
    		</p><p>
    		Mrs. Madhuri Ganapathi
    		</p>
    	</div>
    		
    	</div>
    </div>
    
    </div>
  </div>
	<!-- <div class=" justify-content-center"> -->
		
	
	<!-- </div> -->
	
	<div>
		
	</div>
	
	<div>
	
	
	
	</div>
	</div>
	
	





	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
	
</body>

</html>