<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/header :: common-header">
  
            
    </head>
    
    <body>
            <!-- NAVBAR DATA TOP-MOST -->
         <div th:replace="common/header :: navbar-Admin"></div>
       
        <div class="container">
       		<div class="header-child">
       			<label>Upload Phets</label> <hr/>
       			<div class="status" th:text="${status}"></div>
       		</div>
       			<div class=" shadow-lg p-3 mb-5 bg-white rounded" >
       			<form th:action="@{addPhets}" method="post">
       				<div class="row">
       				<div class="col-sm-4">
       					<select class="form-control" name="classSelected" id="classSelected" >
       							<option>Select Class</option>
       							<span th:each="classValue: ${classExist}">
  								<option><span th:text="${classValue.getClassName()}"></span></option>
  								</span>
						</select>
       				
       				</div>
       				
       				<div class="col-sm-4">
       					<select class="form-control" name="subjectSelected" id="subject" path="subject" disabled>
       						<option value="0" >Select Subject</option>
       						<options items="${cities}" itemValue="id" itemLabel="name" />
  											
						  </select>
       				
       				</div>
       				
       				<div class="col-sm-4">
       					<select class="form-control" name="topicSelected" id="topic" path="topic" disabled>
       						<option value="0" >Select Topic</option>
       						<options items="${cities}" itemValue="id" itemLabel="name" />
  											
						  </select>
       				
       				</div>
       				</div>
       				<hr/>
       				
       			
       				<br/>
       				
       				<div class="row">
       				
       					<div class="col-sm-2">
       					</div>
       				
       					<div class="col-sm-4" >
       							<label for="poster" class="header-right">Description</label> 
       					</div>
       					<div class="col-sm-4">
       							<textarea class="form-control" placeholder="Enter Something" id="description" name="description" rows="3" required disabled></textarea>
       							<input type="hidden" id="UserIdUserEnd" name="UserIdUserEnd" value=""/>
       					</div>
       					
       					<div class="col-sm-2">
       					</div>
       				</div>
       				<br/>
       				<div class="row">
       				
       					<div class="col-sm-2">
       					</div>
       				
       					<div class="col-sm-4" >
       							<label for="poster" class="header-right">Paste Embed Code</label> 
       					</div>
       					<div class="col-sm-4">
       							<textarea class="form-control" placeholder="Url to the Link" id="phet" name="phet" rows="3" required disabled></textarea>
       					</div>
       					
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<br/>
       				
       				
       				<br/>
       				
       					<div class="row">
       					<div class="col-sm-2">
       					</div>
       					<div class="col-sm-4">
       						<label for="poster" class="header-right">Source</label> 
       					</div>
       					<div class="col-sm-4">
       						<input type="text" class="form-control" placeholder="Enter Source" name="source" aria-label="source" aria-describedby="basic-addon1" id="source" required disabled/>
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<div class="row">
       					<div class="col-sm-6">
       					</div>
       					<div class="col-sm-4">
       						<div class="terms-and-condition">
       						<input type="checkbox" class="form-check-input" id="exampleCheck1"></div>
       						<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalScrollable">
  								<span id="agree-property">Agree to terms and conditions</span>
							</button>
   							 
       						
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<br/>
       				
       				<div class="row">
       		
       						
       					<div class="col-sm-4">
       					</div>
       					
       							
       					<div class="col-sm-4">
       							<button class="btn btn-primary btn-action" type="submit">Upload</button>
       					
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       						
       				</form>		
       					
       			</div>
       					
       		</div>
       			
       				<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalCenterTitle">Terms and Conditions</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
       		
       
     
      				<!--  COMMON CODE FOR LIBRARY ADDED -->
        <div th:replace="common/header :: body-bottom-scripts"></div>
        
         <link rel="stylesheet" href="css/mdb.css" type="text/css"/> 
		<script src="js/mdb.js"></script>


        
    </body>


</html>