<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
    <head >
    
    <div th:replace="common/header :: common-header">
    
    </div>
    
    <title>Add Quiz</title>
  
            
    </head>
    
    <body>
            <!-- NAVBAR DATA TOP-MOST -->
        <div th:replace="common/header :: navbar-Admin"></div>
       
        <div class="container">
       		<div class="header-child">
       			<label>Upload Questionaire</label> <hr/>
       			<div class="status" th:text="${status}"></div>
       			<div class="errorClass" th:text="${failure}"></div>
       			<div class="errorClass" th:text="${fileError}"></div>
       		</div>
       			<div class=" shadow-lg p-3 mb-5 bg-white rounded" >
       			<form th:action="@{addQuiz}" method="post" enctype="multipart/form-data">
       				<div class="row">
       				<div class="col-sm-4">
       					<select class="form-control" name="classSelected" id="classSelectedQuiz" >
       							<option>Select Class</option>
       							<span th:each="classValue: ${classExist}">
  								<option><span th:text="${classValue.getClassName()}"></span></option>
  								</span>
						</select>
       				
       				</div>
       				
       				<div class="col-sm-4">
       					<select class="form-control" name="subjectSelected" id="subjectQuiz" path="subject" disabled>
       						<option value="0" >Select Subject</option>
       						<options items="${cities}" itemValue="id" itemLabel="name" />
  											
						  </select>
       				
       				</div>
       				
       				<div class="col-sm-4">
       					<select class="form-control" name="topicSelected" id="topicQuiz" path="topic" disabled>
       						<option value="0" >Select Topic</option>
       						<options items="${cities}" itemValue="id" itemLabel="name" />
  											
						  </select>
       				
       				</div>
       				</div>
       				<hr/>
       				
       			
       				<br/>
       				
       				<div class="row">
       				
       					<div class="col-sm-3">
       					</div>
       				
       					<div class="col-sm-3" >
       							<label for="poster" class="header-right">Remarks</label> 
       					</div>
       					<div class="col-sm-4">
       							<input type="text" class="form-control-file" id="remarksQuiz" name="remarks" required disabled/>
       								<input type="hidden" id="UserIdUserEnd" name="UserIdUserEnd" value=""/>
       					</div>
       					
       					<div class="col-sm-2">
       					</div>
       				</div>
       				<br/>
       				
       				<div class="row">
       				
       					<div class="col-sm-3">
       					</div>
       				
       					<div class="col-sm-3">
       							<label for="poster" class="header-right">Questions</label> 
       					</div>
       					<div class="col-sm-4">
       							<input type="file" class="form-control-file" id="QuestionQuiz" accept="application/pdf" name="Question" required disabled/>
       					</div>
       					
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<br/>
       				
       				<div class="row">
       					<div class="col-sm-3">
       					</div>
       					<div class="col-sm-3" >
       						<label for="poster" class="header-right">Answers</label> 
       					</div>
       					<div class="col-sm-4">
       						<input type="file" class="form-control-file" id="AnswerQuiz" accept="application/pdf"  name="Answer" required disabled/>
       					
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       					<div class="row">
       					<div class="col-sm-6">
       					</div>
       					<div class="col-sm-4">
       						<div class="terms-and-condition">
       						<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
       						<button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#exampleModalScrollable">
  								<span id="">Agree to terms and conditions</span>
							</button>
   							</div> 
       						
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<div class="row">
       					<div class="col-sm-4">
       					</div>
       					<div class="col-sm-6">
       						<span id="imp-info">* Both Question and Answer has to be uploaded together</span> 
       					</div>
       					
       				</div>
       				<br/>
       				
       				<div class="row">
       		
       						
       					<div class="col-sm-4">
       					</div>
       					
       							
       					<div class="col-sm-4">
       							<button class="btn btn-primary btn-action upload-submit" type="submit" disabled>Upload</button>
       					
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       						
       				</form>		
       					
       			</div>
       					
       		</div>
       			
       			
       			<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalCenterTitle">Terms and Conditions</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
       		
       
     
      				<!--  COMMON CODE FOR LIBRARY ADDED -->
        <div th:replace="common/header :: body-bottom-scripts"></div>
         <link rel="stylesheet" href="css/mdb.css" type="text/css"/> 
		<script src="js/mdb.js"></script>


        
    </body>


</html>