
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head>
    <div th:replace="common/header :: common-header-Dashboard"></div>
	<title>Add Subject</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a th:href="@{/}" class="simple-text">
                        School Project
                    </a>
                </div>
                  <ul class="nav">
                    <li>
                        <a class="nav-link" th:href="@{/dashBoard}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conConceptMap}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Concepts-Map</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li >
                        <a class="nav-link" th:href="@{/conPhet}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Phets</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conArticle}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Article</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conLessonPlan}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Lesson Plan</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conDocument}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Document</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conVideo}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Video</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conQuiz}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Quiz</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conView}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Status</p>
                        </a>
                    </li>
                    </div>
					<div sec:authorize="hasAuthority('Admin')">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/addView}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add/View Components</p>
                        </a>
                    </li>
                    </div>
                     <div sec:authorize="hasAuthority('Admin')">
                    <li>
                        <a class="nav-link" th:href="@{/admin/approve}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Approve Components</p>
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <span th:text="${LoggedUser.getFname()}"></span>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">


                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                    	<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a
								th:class="${viewActive} ? 'nav-link active' : 'nav-link'"
								id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="true">View Subject</a></li>
							<li class="nav-item"><a
								th:class="${addActive} ? 'nav-link active' : 'nav-link'"
								id="profile-tab" data-toggle="tab" href="#profile" role="tab"
								aria-controls="profile" aria-selected="false">Add Subject</a></li>

						</ul>
						
                        <div class="tab-content" id="myTabContent">
							<div th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="home" role="tabpanel" aria-labelledby="home-tab"> 
								
								   
                                <div class="card-header">
                                    <h4 class="card-title">Available Subject</h4>
                                    <div class="status" th:text="${statusView}"></div>
                                </div>
                                <div class="card-body">
                                	<div class="table-responsive">
										<table id="dtBasicExample" class="table table-striped table-sm"
											cellspacing="0" width="100%">
					
											<thead class="">
												<tr>
													<th>#</th>
													<th>Subject Name</th>
													<th>Class Associated</th>
													<th>Operation</th>
					
												</tr>
											</thead>
					
											<tbody>
					
												<span th:each="subject:${Subject}">
													<tr class="clickable-row">
														<th scope="row"><input type="radio"
															th:value="${subject.getSubId()}" th:id="${subject.getSubId()}"
															name="selectionRadio" onchange="enableDelete()" /></th>
														<td><span th:text="${subject.getSubName()}"></span></td>
														<td><span th:with="classs=${subject.getSubClasMapp()}">
																<span th:each="class:${classs}"> <span
																	th:text="'Class '+${class.getStandard().getClassName()}"></span>
																	<br />
															</span>
														</span></td>
					
														<td><a class="btn btn-secondary detailSubject"
															th:value="${subject.getSubId()}" id="detailSubject">Update</a>
														</td>
					
					
													</tr>
												</span>
					
											</tbody>
					
										</table>

								</div>
                                
                                    
                            </div>
                        </div>
                        
                        <div th:class="${addActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="profile" role="tabpanel" aria-labelledby="profile-tab">
							
							<div class="card-header">
                                    <h4 class="card-title">Add Subject</h4>
                                    <div class="status" th:text="${statusAdd}"></div>
                            </div>
                            <div class="card-body">
			                   <form th:action="@{addSubject}" method="post">
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div  style="text-align: center">
                                                    <h4>Enter new Subject</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                   <input type="text" class="form-control" name="SelectedSubject"
														onchange="myFunction()" required />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <hr style="width: 50%" />
										<div class="row">

											<div class="col-sm-3"></div>

											<div class="col-sm-6">
												<div class="form-check">
													<span th:each="classValue:${classExist}"> <input
														class="form-check-input" type="checkbox"
														name="SelectedClasses" id="checkboxClass"
														th:value="${classValue.getClassName()}" disabled> <label
														class="form-check-label"> <span
															th:text="'Class '+${classValue.getClassName()}"></span>
													</label> <br />
													</span>
												</div>

											</div>
										</div>
										<button type="submit" class="btn btn-info btn-fill pull-right" id="subjectSubmit" disabled>Add Subject</button>
                                        <div class="clearfix"></div>
                                </form>
                            
                            </div>
								
						</div>
                        
                             
                             </div>
                         </div>
                     </div>
                 
                </div>
            
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Spoken Tutorial
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
    
        <!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts-Dashboard"></div>
	
	<div class="modal fade" id="SubjectModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg " role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Update
						Subject</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="Success"
						style="display: none; color: green; font-size: 18px; text-align: center">Data
						Updated Successfully</div>
					<div id="Failure"
						style="display: none; color: red; font-size: 18px; text-align: center">Please
						Try Again</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="row ">
								<label>Subject Name</label>
							</div>
							<div class="row">
								<label>Select New Class to Associate</label>
							</div>


						</div>
						<div class="col-sm-6" style="font-size: 18px">
							<div class="row ">

								<input type="text" class="form-control" id="SubjectName"
									value="">

							</div>
							<div class="row">
								<div class="form-check">
									<div id="modalClass"></div>


								</div>

							</div>

						</div>
						<hr />
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" id="updateSubject" value="">Update</button>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<script>
  				function myFunction() {
  					
  					var checkboxdata=document.getElementsByName("SelectedClasses");
  					for(var i=0;i<checkboxdata.length;i++){
  						checkboxdata[i].disabled=false;
  						checkboxdata[i].checked=false;	
  					}
  					
  					$("#subjectSubmit").prop('disabled', false);
 
  				}
  	</script>

</body>

</html>



 <!-- <!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="common/header :: common-header"></div>

<title>Add Subject</title>


</head>

<body>
	NAVBAR DATA TOP-MOST
	<div th:replace="common/header :: navbar-Admin"></div>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item"><a
			th:class="${viewActive} ? 'nav-link active' : 'nav-link'"
			id="home-tab" data-toggle="tab" href="#home" role="tab"
			aria-controls="home" aria-selected="true">View Subject</a></li>
		<li class="nav-item"><a
			th:class="${addActive} ? 'nav-link active' : 'nav-link'"
			id="profile-tab" data-toggle="tab" href="#profile" role="tab"
			aria-controls="profile" aria-selected="false">Add Subject</a></li>

	</ul>
	<div class="tab-content" id="myTabContent">
		<div
			th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
			id="home" role="tabpanel" aria-labelledby="home-tab">

			<div class="header-child">
				<label>Available Subject</label>
				<hr />
				<div class="status" th:text="${statusView}"></div>
			</div>

			<form th:action="@{deleteSubject}" method="post">
				<div class="table-responsive">
					<table id="dtBasicExample" class="table table-striped table-sm"
						cellspacing="0" width="100%">

						<thead class="">
							<tr>
								<th>#</th>
								<th>Subject Name</th>
								<th>Class Associated</th>
								<th>Operation</th>

							</tr>
						</thead>

						<tbody>

							<span th:each="subject:${Subject}">
								<tr class="clickable-row">
									<th scope="row"><input type="radio"
										th:value="${subject.getSubId()}" th:id="${subject.getSubId()}"
										name="selectionRadio" onchange="enableDelete()" /></th>
									<td><span th:text="${subject.getSubName()}"></span></td>
									<td><span th:with="classs=${subject.getSubClasMapp()}">
											<span th:each="class:${classs}"> <span
												th:text="'Class '+${class.getStandard().getClassName()}"></span>
												<br />
										</span>
									</span></td>

									<td><a class="btn btn-secondary detailSubject"
										th:value="${subject.getSubId()}" id="detailSubject">Update</a>
									</td>


								</tr>
							</span>

						</tbody>

					</table>

				</div>


			</form>




		</div>
		<div
			th:class="${addActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
			id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<div class="container">
				<div class="header-child">
					<label>Add New Subject</label>
					<hr />
					<div class="status" th:text="${statusAdd}"></div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>

					<div class="col-sm-8 shadow-lg p-3 mb-5 bg-white rounded">
						<div class="content-child">
							<form th:action="@{addSubject}" method="post">
								<div class="row">
									<div class="col-sm-6">
										<label class="header-left" for="class">Enter new
											Subject</label>
									</div>
									<div class="col-sm-6">

										<input type="text" class="form-control" name="SelectedSubject"
											onchange="myFunction()" required />
									</div>

								</div>
								<hr style="width: 50%" />
								<div class="row">

									<div class="col-sm-3"></div>

									<div class="col-sm-6">
										<div class="form-check">
											<span th:each="classValue:${classExist}"> <input
												class="form-check-input checkboxClass" type="checkbox"
												name="SelectedClasses" id="checkboxClass"
												th:value="${classValue.getClassName()}" disabled> <label
												class="form-check-label" for="defaultCheck1"> <span
													th:text="'Class '+${classValue.getClassName()}"></span>
											</label> <br />
											</span>
										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-sm-4"></div>

									<div class="col-sm-4">
										<button class="btn btn-primary btn-action" id="subjectSubmit"
											type="submit" disabled>Add Subject</button>
									</div>
								</div>
							</form>
						</div>

					</div>

					<div class="col-sm-2"></div>

				</div>



			</div>



		</div>

	</div>




	Modal
	<div class="modal fade" id="SubjectModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg " role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Update
						Subject</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="Success"
						style="display: none; color: green; font-size: 18px; text-align: center">Data
						Updated Successfully</div>
					<div id="Failure"
						style="display: none; color: red; font-size: 18px; text-align: center">Please
						Try Again</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="row ">
								<label>Subject Name</label>
							</div>
							<div class="row">
								<label>Select New Class to Associate</label>
							</div>


						</div>
						<div class="col-sm-6" style="font-size: 18px">
							<div class="row ">

								<input type="text" class="form-control" id="SubjectName"
									value="">

							</div>
							<div class="row">
								<div class="form-check">
									<div id="modalClass"></div>


								</div>

							</div>

						</div>
						<hr />
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" id="updateSubject" value="">Update</button>
					</div>

				</div>
			</div>
		</div>




		<script>
  				function myFunction() {
  					
  					var checkboxdata=document.getElementsByName("SelectedClasses");
  					for(var i=0;i<checkboxdata.length;i++){
  						checkboxdata[i].disabled=false;
  						checkboxdata[i].checked=false;	
  					}
  					
  					$("#subjectSubmit").prop('disabled', false);
 
  				}
  		</script>







		 COMMON CODE FOR LIBRARY ADDED
		<div th:replace="common/header :: body-bottom-scripts"></div>
		<link rel="stylesheet" href="css/mdb.css" type="text/css" />
		<script src="js/mdb.js"></script>
</body>


</html> -->