<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head>
    <div th:replace="common/header :: common-header-Dashboard"></div>
	<title>Add Testimonial</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" th:data-image="@{/img/sidebar-5.jpg}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a th:href="@{/}" class="simple-text">
                        School Project
                    </a>
                </div>
                  <ul class="nav">
                    <li>
                        <a class="nav-link" th:href="@{/dashBoard}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conConceptMap}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Concepts-Map</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li >
                        <a class="nav-link" th:href="@{/conPhet}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Phets</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conArticle}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Article</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conLessonPlan}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Lesson Plan</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conDocument}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Document</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conVideo}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Video</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conQuiz}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Quiz</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conView}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Status</p>
                        </a>
                    </li>
                    </div>
					<div sec:authorize="hasAuthority('Admin')">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/addView}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add/View Components</p>
                        </a>
                    </li>
                    </div>
                     <div sec:authorize="hasAuthority('Admin')">
                    <li>
                        <a class="nav-link" th:href="@{/admin/approve}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Approve Components</p>
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <span th:text="${LoggedUser.getFname()}"></span>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">


                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                   <div class="spk-card-body spk-tab">
                    	<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a
								th:class="${viewActive} ? 'nav-link active' : 'nav-link'"
								id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="true">View Testimonial</a></li>
							<li class="nav-item"><a
								th:class="${addActive} ? 'nav-link active' : 'nav-link'"
								id="profile-tab" data-toggle="tab" href="#profile" role="tab"
								aria-controls="profile" aria-selected="false">Add Text Testimonial</a></li>
							<li class="nav-item"><a
								th:class="${addVideoActive} ? 'nav-link active' : 'nav-link'"
								id="profile-tab" data-toggle="tab" href="#video" role="tab"
								aria-controls="profile" aria-selected="false">Add Video Testimonial</a></li>

						</ul>
						
                        <div class="tab-content" id="myTabContent">
							<div th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="home" role="tabpanel" aria-labelledby="home-tab"> 
								
								   
                                <div class="card-header">
                                    <!-- <h4 class="card-title">Available Testimonial</h4> -->
                                    <div class="status" th:text="${status}"></div>
                                </div>
                                <div class="card-body">
                                	<form th:action="@{deleteTesti}" method="post">
										<div class="table-responsive">
											<table id="dtBasicExample" class="table table-striped table-sm"
												cellspacing="0" width="100%">
						
												<thead class="">
													<tr>
														<!-- <th>#</th -->>
														<th>Name</th>
														<th>Organization</th>
														<th>date added</th>
														<th data-orderable="false">Description</th>
														<th data-orderable="false">Reference</th>
														<th data-orderable="false">Operation</th>
													</tr>
												</thead>
						
												<tbody>
						
													<span th:each="testi:${Testimonial}">
														<tr class="clickable-row">
															<td><span th:text="${testi.getName()}"></span></td>
															<td><span th:text="${testi.getOrganization()}"></span></td>
															<td><span th:text="${#dates.format(testi.getDateAdded(), 'dd MMM , yyyy')}"></span></td>
															<td style="width: 20%"><span
																th:text="${testi.getDescription()}"></span></td>
															<td th:if="${testi.getFilePath()}">
																	 <a th:href="@{/files/}+@{${testi.getFilePath()}}"
																		target="_blank" class="pdfclass"><i class="fas fa-external-link-alt"></i></a>
																
															</td>
															<td th:if="${testi.getVideoPath()}">
																	 <video width="250" height="150" controls>
																		  <source th:src="@{/files/}+@{${testi.getVideoPath()}}" type="video/mp4"/>
																	 </video> 
																
															</td>
															<td th:if="${testi.getFilePath()==null} and ${testi.getVideoPath()==null}">
																	
															</td>
															
															<td><a class="btn spk-btn-sm detailTestimonial"
																th:value="${testi.getTestimonialId()}" id="detailTestimonial">Update</a>
						
															</td>
														</tr>
													</span>
						
												</tbody>
						
											</table>
						
										</div>
						
						
						
						
									</form>

								</div>
                                
                                    
                            </div>
                        
                        <div th:class="${addActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="profile" role="tabpanel" aria-labelledby="profile-tab">
							
							<div class="card-header">
                                    <!-- <h4 class="card-title">Add New Testimonial</h4> -->
                                    <div class="status" th:text="${returnStatus}"></div>
                            </div>
                            <div class="card-body">
			                   <form th:action="@{addTestimonial}" method="post" enctype="multipart/form-data">
                                    	 <div class="form-group row">
										    <label for="Name" class="col-sm-2 col-form-label">Enter Name</label>
										    <div class="col-sm-4">
										      <input type="text" class="form-control" placeholder="Enter Name"
													name="Name" aria-label="name" aria-describedby="basic-addon1"
													id="Name" required />
										    </div>
										  </div>
                                        <div class="form-group row">
										    <label for="org" class="col-sm-2 col-form-label">Organization</label>
										    <div class="col-sm-4">
										      <input type="text" class="form-control"
													placeholder="Enter Organization name" name="org"
													aria-label="org" aria-describedby="basic-addon1" id="org"
													required />
										    </div>
										  </div>
                                        <div class="form-group row">
										    <label for="description" class="col-sm-2 col-form-label">Description</label>
										    <div class="col-sm-4">
										      <textarea class="form-control" placeholder="Enter Something"
												        title="Max 10000 Character" style="height: 100px" id="description" name="description" required></textarea>
										    </div>
										  </div>
                                        <button type="submit"  class="btn spk-btn btn-fill pull-right">ADD</button>
                                        <div class="clearfix"></div>
                                    </form>
                            
                            </div>
								
						</div>
						
						 <div th:class="${addVideoActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="video" role="tabpanel" aria-labelledby="profile-tab">
							
							<div class="card-header">
                                    <!-- <h4 class="card-title">Add Video/pdf Testimonial</h4> -->
                                    <div class="status" th:text="${returnStatus}"></div>
                            </div>
                            <div class="card-body">
			                   <form th:action="@{addVideoTestimonial}" method="post" enctype="multipart/form-data">
                                    
                                    	 <div class="form-group row">
										    <label for="Name" class="col-sm-2 col-form-label">Enter Name</label>
										    <div class="col-sm-4">
										      <input type="text" class="form-control" placeholder="Enter Name"
													name="Name" aria-label="name" aria-describedby="basic-addon1"
													id="Name" required />
										    </div>
										  </div>
                                        <div class="form-group row">
										    <label for="org" class="col-sm-2 col-form-label">Organization</label>
										    <div class="col-sm-4">
										      <input type="text" class="form-control"
													placeholder="Enter Organization name" name="org"
													aria-label="org" aria-describedby="basic-addon1" id="org"
													required />
										    </div>
										  </div>
                                        <div class="form-group row">
										    <label for="description" class="col-sm-2 col-form-label">Description</label>
										    <div class="col-sm-4">
										      <textarea class="form-control" placeholder="Enter Something"
												        title="Max 10000 Character" style="height: 100px" id="description" name="description" required></textarea>
										    </div>
										  </div>
                                        <div class="form-group row">
										    <label class="col-sm-2 col-form-label">Upload Video/PDF</label>
										    <div class="col-sm-4">
										      <input type="file" class="form-control-file" 
														title="upload only Video File" accept="video/*"
														name="videoTesti" required />
										    </div>
										  </div>                                        
                                          <div class="row">
                                             <div class="col-md-4">
                                                 <div class="instr">
                                                    <a href="#" class="show_hide" data-content="toggle-text">Instructions?</a>
                                                    <div class="contentInstruction" style="color:red">
                                                    	<p> * Video files must be mp4 or mov files. </p>
                                                    	<p> * Video duration, not more than 5 minutes. </p>
                                                    	<p> * Text files must be in PDF format. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                   
                                        <button type="submit"  class="btn spk-btn btn-fill pull-right">ADD</button>
                                        <div class="clearfix"></div>
                                    </form>
                            
                            </div>
								
						</div>
                        
                             
                             </div>
                         </div>
                     </div>
                 
                </div>
            
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Spoken Tutorial
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
    
        <!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts-Dashboard"></div>
	
	<!-- Modal for updating the data -->

	<div class="modal fade" id="TestimonialModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Update
						Testimonial</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="Success"
						style="display: none; color: green; font-size: 18px; text-align: center">Data
						Updated Successfully</div>
					<div id="Failure"
						style="display: none; color: red; font-size: 18px; text-align: center">Please
						Try Again</div>

					<div class="row">

						<div class="col-sm-6">
							<label>Description</label>
						</div>
						<div class="col-sm-6">
							<textarea class="form class" id="testimonialDesc"
								name="testimonialDesc" rows="4" cols="33" placeholder=""></textarea>
							<input type="hidden" id="testiId" name="testiId" value="">
						</div>
					</div>

					<br />
					<div class="row">

						<div class="col-sm-6">
							<label>Name</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control-file" id="testimonialName"
								name="testimonialName" value="" />
						</div>
					</div>
					<br />
					<div class="row">

						<div class="col-sm-6">
							<label>Organization</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control-file" id="testimonialOrg"
								name="testimonialOrg" value="" />
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn spk-btn" id="updateTestimonial" value="">Update</button>
					</div>

				</div>


			</div>
		</div>
	</div>
</body>
</html>