<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head>
    <div th:replace="common/header :: common-header-Dashboard"></div>
	<title>Add Subject</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a th:href="@{/}" class="simple-text">
                        School Project
                    </a>
                </div>
                  <ul class="nav">
                    <li>
                        <a class="nav-link" th:href="@{/dashBoard}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conConceptMap}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Concepts-Map</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li >
                        <a class="nav-link" th:href="@{/conPhet}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Phets</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conArticle}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Article</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conLessonPlan}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Lesson Plan</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conDocument}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Document</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conVideo}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Video</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conQuiz}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Quiz</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conView}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Status</p>
                        </a>
                    </li>
                    </div>
					<div sec:authorize="hasAuthority('Admin')">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/addView}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add/View Components</p>
                        </a>
                    </li>
                    </div>
                     <div sec:authorize="hasAuthority('Admin')">
                    <li>
                        <a class="nav-link" th:href="@{/admin/approve}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Approve Components</p>
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <span th:text="${LoggedUser.getFname()}"></span>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">


                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                    	<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a
								th:class="${viewActive} ? 'nav-link active' : 'nav-link'"
								id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="true">View Topic</a></li>
							<li class="nav-item"><a
								th:class="${addActive} ? 'nav-link active' : 'nav-link'"
								id="profile-tab" data-toggle="tab" href="#profile" role="tab"
								aria-controls="profile" aria-selected="false">Add Topic</a></li>

						</ul>
						
                        <div class="tab-content" id="myTabContent">
							<div th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="home" role="tabpanel" aria-labelledby="home-tab"> 
								
								   
                                <div class="card-header">
                                    <h4 class="card-title">Available Topic</h4>
                                </div>
                                <div class="card-body">
                                	<form th:action="@{deleteTopic}" method="post">
										<div class="table-responsive">
											<table id="dtBasicExample" class="table table-striped table-sm"
												cellspacing="0" width="100%">
						
												<thead class="">
													<tr>
														<th>#</th>
														<th>Topic Name</th>
														<th>Description</th>
														<th>Date Added</th>
														<th>Associated Class</th>
														<th>Associated Subject</th>
														<th>Poster</th>
														<th>Status</th>
														<th>Operation</th>
													</tr>
												</thead>
						
												<tbody>
						
													<span th:each="topic:${Topic}">
														<tr class="clickable-row">
															<th scope="row"><input type="radio"
																th:value="${topic.getTopicId()}" th:id="${topic.getTopicId()}"
																name="radioTopic" /></th>
															<td><span th:text="${topic.getTopicName()}"></span></td>
															<td><span th:text="${topic.getDescription()}"></span></td>
															<td><span th:text="${topic.getDateAdded()}"></span></td>
															<td><span
																th:text=" 'Class '+${topic.getSubjectClassMapping().getStandard().getClassName()}"></span></td>
															<td><span
																th:text="${topic.getSubjectClassMapping().getSub().getSubName()}"></span></td>
						
															<td><a href="#" class="pop"><img id="imagesource"
																	th:src="@{files/}+@{${topic.getPoster()}}"
																	style="width: 150px; height: 100px" /></a></td>
															<td><span th:if="${topic.getStatus()==1}"><div
																		id="true" /></span> <span th:unless="${topic.getStatus()==1}"><div
																		id="false" /></span></td>
						
															<td><a class="btn btn-secondary detailTopic"
																th:value="${topic.getTopicId()}" id="detailTopic">Update</a>
														</tr>
													</span>
						
												</tbody>
						
											</table>
						
										</div>
						
										<div class="container">
											<center>
						
						
												<button class="btn btn-danger" id="disableTopic" disabled>Disable</button>
						
												<button class="btn btn-primary" id="enableTopic" disabled>Enable</button>
						
						
											</center>
						
						
										</div>

							</form>

								</div>
                                
                                    
                            </div>
                        
                        <div th:class="${addActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="profile" role="tabpanel" aria-labelledby="profile-tab">
							
							<div class="card-header">
                                    <h4 class="card-title">Add New Topic</h4>
                            </div>
                            <div class="card-body">
			                   <form th:action="@{addTopic}" method="post">
                                      <div class="row">
										<div class="col-md-6">
											<div style="text-align: center">
                                                  <h4>Select Class</h4>
                                            </div>
										</div>
										<div class="col-md-4">
											<select class="form-control" name="classSelected"
												id="classSelected">
												<option></option>
												<span th:each="classValue: ${classExist}">
													<option><span
															th:text="${classValue.getClassName()}"></span></option>
											</span>
											</select>

										</div>

									</div>
								

								<div class="row">
									<div class="col-sm-6">
										<div style="text-align: center">
                                                  <h4>Select Subject</h4>
                                         </div>
									</div>
									<div class="col-sm-4">
										<select class="form-control" name="subjectSelected"
											id="subject" path="subject" disabled>
											<option value="0" label="Subject" />
											<options items="${cities}" itemValue="id" itemLabel="name" />


										</select>
									</div>

								</div>
								

								<div class="row">
									<div class="col-sm-6">
										<div style="text-align: center">
                                                  <h4>Enter Topic Name</h4>
                                         </div>
									</div>
									<div class="col-sm-4">
										<input type="text" class="form-control"
											placeholder="Enter Topic" title="Enter Topic Name"
											name="topic" aria-label="TopicQ"
											aria-describedby="basic-addon1" id="addtopic" required
											disabled />
									</div>

								</div>
								<br />

								<div class="row">
									<div class="col-sm-6">
										
										<div style="text-align: center">
                                                  <h4>Description</h4>
                                         </div>
										
									</div>
									<div class="col-sm-4">

										<textarea class="form-control" placeholder="Enter Something"
											title="Max length 10000 Character" id="descriptionTopic"
											name="descriptionQ" rows="3" required disabled></textarea>
									</div>

								</div>
								<br />

								<div class="row">
									<div class="col-sm-6">
										<div style="text-align: center">
                                                  <h4>Poster</h4>
                                         </div>
									</div>
									<div class="col-sm-4">
										<input type="file" class="form-control-file"
											title="upload Jpeg/Jpg File" id="posterTopic" name="posterQ"
											accept="image/*" required disabled />
									</div>

								</div>
								


			
                                     
										<button type="submit" class="btn btn-info btn-fill pull-right" id="upload-topic" disabled>Add Topic</button>
                                        <div class="clearfix"></div>
                                </form>
                            
                            </div>
								
						</div>
                        
                             
                             </div>
                         </div>
                     </div>
                 
                </div>
            
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Spoken Tutorial
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
    
        <!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts-Dashboard"></div>
	
	<!-- Modal  for previewing the Images -->
	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Image
						Viewer</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="" id="imagepreview" style="width: 100%;" /> ...

					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal for updating the data -->

	<div class="modal fade" id="TopicModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<form action="" method="post" enctype="multipart/form-data"
					id="uploadTopic">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Update
							Topic</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">

						<div id="Success"
							style="display: none; color: green; font-size: 18px; text-align: center">Data
							Updated Successfully</div>
						<div id="Failure"
							style="display: none; color: red; font-size: 18px; text-align: center">Please
							Try Again</div>
						<div id="invalid-data"
							style="display: none; color: red; font-size: 18px; text-align: center">Please
							Upload Image file</div>

						<div class="row">

							<div class="col-sm-6">
								<label>Topic Name</label>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="topicName"
									name="TopicName" value=""> <input type="hidden"
									id="TopicId" name="TopicId" value="">
							</div>
						</div>

						<br />
						<div class="row">

							<div class="col-sm-6">
								<label>Description</label>
							</div>
							<div class="col-sm-6">
								<textarea class="form class" id="topicDesc" name="topicDesc"
									rows="4" cols="20" placeholder=""></textarea>
							</div>
						</div>
						<br />
						<div class="row">

							<div class="col-sm-6">
								<label>Poster</label>
							</div>
							<div class="col-sm-6">
								<input type="file" class="form-control-file" id="posterQ"
									name="posterQ" accept="image/*" />
							</div>
						</div>


						<div class="modal-footer">
							<button class="btn btn-primary" id="updateTopic" value=""
								disabled>Update</button>
						</div>

					</div>
				</form>



			</div>
		</div>
	</div>

</body>

</html>


<!-- <!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="common/header :: common-header"></div>

<title>Add Topic</title>

</head>

<body>
	NAVBAR DATA TOP-MOST
	<div th:replace="common/header :: navbar-Admin"></div>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item"><a
			th:class="${viewActive} ? 'nav-link active' : 'nav-link'"
			id="home-tab" data-toggle="tab" href="#home" role="tab"
			aria-controls="home" aria-selected="true">View Topic</a></li>
		<li class="nav-item"><a
			th:class="${addActive} ? 'nav-link active' : 'nav-link'"
			id="profile-tab" data-toggle="tab" href="#profile" role="tab"
			aria-controls="profile" aria-selected="false">Add Topic</a></li>

	</ul>
	<div class="tab-content" id="myTabContent">
		<div
			th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
			id="home" role="tabpanel" aria-labelledby="home-tab">

			<div class="header-child">
				<label>Available Topic</label>
				<hr />
				<div class="status" th:text="${status}"></div>
			</div>


			<form th:action="@{deleteTopic}" method="post">
				<div class="table-responsive">
					<table id="dtBasicExample" class="table table-striped table-sm"
						cellspacing="0" width="100%">

						<thead class="">
							<tr>
								<th>#</th>
								<th>Topic Name</th>
								<th>Description</th>
								<th>Date Added</th>
								<th>Associated Class</th>
								<th>Associated Subject</th>
								<th>Poster</th>
								<th>Status</th>
								<th>Operation</th>
							</tr>
						</thead>

						<tbody>

							<span th:each="topic:${Topic}">
								<tr class="clickable-row">
									<th scope="row"><input type="radio"
										th:value="${topic.getTopicId()}" th:id="${topic.getTopicId()}"
										name="radioTopic" /></th>
									<td><span th:text="${topic.getTopicName()}"></span></td>
									<td><span th:text="${topic.getDescription()}"></span></td>
									<td><span th:text="${topic.getDateAdded()}"></span></td>
									<td><span
										th:text=" 'Class '+${topic.getSubjectClassMapping().getStandard().getClassName()}"></span></td>
									<td><span
										th:text="${topic.getSubjectClassMapping().getSub().getSubName()}"></span></td>

									<td><a href="#" class="pop"><img id="imagesource"
											th:src="@{files/}+@{${topic.getPoster()}}"
											style="width: 150px; height: 100px" /></a></td>
									<td><span th:if="${topic.getStatus()==1}"><div
												id="true" /></span> <span th:unless="${topic.getStatus()==1}"><div
												id="false" /></span></td>

									<td><a class="btn btn-secondary detailTopic"
										th:value="${topic.getTopicId()}" id="detailTopic">Update</a>
								</tr>
							</span>

						</tbody>

					</table>

				</div>

				<div class="container">
					<center>


						<button class="btn btn-danger" id="disableTopic" disabled>Disable</button>

						<button class="btn btn-primary" id="enableTopic" disabled>Enable</button>


					</center>


				</div>

			</form>




		</div>
		<div
			th:class="${addActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
			id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<div class="container">
				<div class="header-child">
					<label>Add New Topic</label>
					<hr />
					<div class="status" th:text="${statusAdd}"></div>
					<div class="errorClass" th:text="${failure}"></div>
					<div class="errorClass" th:text="${fileError}"></div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>

					<div class="col-sm-8 shadow-lg p-3 mb-5 bg-white rounded">
						<div class="content-child">
							<form th:action="@{addTopic}" method="post"
								enctype="multipart/form-data">
								<div class="row">
									<div class="col-sm-6">
										<label class="header-left">Select Class</label>
									</div>
									<div class="col-sm-6">
										<select class="form-control" name="classSelected"
											id="classSelected">
											<option></option>
											<span th:each="classValue: ${classExist}">
												<option><span
														th:text="${classValue.getClassName()}"></span></option>
										</span>
										</select>

									</div>

								</div>
								<br />

								<div class="row">
									<div class="col-sm-6">
										<label class="header-left">Select Subject</label>
									</div>
									<div class="col-sm-6">
										<select class="form-control" name="subjectSelected"
											id="subject" path="subject" disabled>
											<option value="0" label="Subject" />
											<options items="${cities}" itemValue="id" itemLabel="name" />


										</select>
									</div>

								</div>
								<br />

								<div class="row">
									<div class="col-sm-6">
										<label class="header-left">Enter Topic Name</label>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control"
											placeholder="Enter Topic" title="Enter Topic Name"
											name="topic" aria-label="TopicQ"
											aria-describedby="basic-addon1" id="addtopic" required
											disabled />
									</div>

								</div>
								<br />

								<div class="row">
									<div class="col-sm-6">
										<label for="description" class="header-left">Description</label>
									</div>
									<div class="col-sm-6">

										<textarea class="form-control" placeholder="Enter Something"
											title="Max length 10000 Character" id="descriptionTopic"
											name="descriptionQ" rows="3" required disabled></textarea>
									</div>

								</div>
								<br />

								<div class="row">
									<div class="col-sm-6">
										<label for="poster" class="header-left">Poster</label>
									</div>
									<div class="col-sm-6">
										<input type="file" class="form-control-file"
											title="upload Jpeg/Jpg File" id="posterTopic" name="posterQ"
											accept="image/*" required disabled />
									</div>

								</div>
								<br />


								<div class="row">
									<div class="col-sm-4"></div>

									<div class="col-sm-4">
										<button class="btn btn-primary btn-action" id="upload-topic"
											type="submit" disabled>Add Topic</button>
										<div id="ya"></div>
									</div>
								</div>


							</form>
						</div>

					</div>

					<div class="col-sm-2"></div>

				</div>



			</div>








		</div>

	</div>



	Modal  for previewing the Images
	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Image
						Viewer</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="" id="imagepreview" style="width: 100%;" /> ...

					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>


	Modal for updating the data

	<div class="modal fade" id="TopicModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<form action="" method="post" enctype="multipart/form-data"
					id="uploadTopic">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Update
							Topic</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">

						<div id="Success"
							style="display: none; color: green; font-size: 18px; text-align: center">Data
							Updated Successfully</div>
						<div id="Failure"
							style="display: none; color: red; font-size: 18px; text-align: center">Please
							Try Again</div>
						<div id="invalid-data"
							style="display: none; color: red; font-size: 18px; text-align: center">Please
							Upload Image file</div>

						<div class="row">

							<div class="col-sm-6">
								<label>Topic Name</label>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="topicName"
									name="TopicName" value=""> <input type="hidden"
									id="TopicId" name="TopicId" value="">
							</div>
						</div>

						<br />
						<div class="row">

							<div class="col-sm-6">
								<label>Description</label>
							</div>
							<div class="col-sm-6">
								<textarea class="form class" id="topicDesc" name="topicDesc"
									rows="4" cols="20" placeholder=""></textarea>
							</div>
						</div>
						<br />
						<div class="row">

							<div class="col-sm-6">
								<label>Poster</label>
							</div>
							<div class="col-sm-6">
								<input type="file" class="form-control-file" id="posterQ"
									name="posterQ" accept="image/*" />
							</div>
						</div>


						<div class="modal-footer">
							<button class="btn btn-primary" id="updateTopic" value=""
								disabled>Update</button>
						</div>

					</div>
				</form>



			</div>
		</div>
	</div>




	 COMMON CODE FOR LIBRARY ADDED
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<link rel="stylesheet" href="css/mdb.css" type="text/css" />
	<script src="js/mdb.js"></script>



</body>


</html> -->