<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
    <head >
    
    	<div th:replace="common/header :: common-header">
    
    	</div>
    
    	<title>Add Video</title>
  
            
    </head>
    
    <body>
            <!-- NAVBAR DATA TOP-MOST -->
        <div th:replace="common/header :: navbar-Admin"></div>
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a th:class="${viewActive} ? 'nav-link active' : 'nav-link'" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">View Video</a>
		  </li>
		  <li class="nav-item">
		    <a th:class="${addActive} ? 'nav-link active' : 'nav-link'" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Video</a>
		  </li>
		 
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="header-child">
	       			<label>Available Reference Video</label> <hr/>
	       			<div class="status" th:text="${status}"></div>
	       			</div>
	  
	   		
	      	<form th:action="@{deleteVideo}" method="post">
	      	<div class="table-responsive">
					<table id="dtBasicExample" class="table table-striped table-sm" cellspacing="0" width="100%">
		
					  <thead class="">
					    <tr>
					      <th>#</th>
					      <th>Topic Name</th>
					      <th>Description</th>
					      <th>Source</th>
					      <th>Date Added</th>
					      <th>Video</th>
					      <th>Status</th>
					      <th>Contributed by</th>
					      <th> Operation</th>
					    </tr>
					  </thead>
			
					  <tbody>
					  
					  <span th:each="video:${Video}">
					    <tr class="clickable-row">
					      <th scope="row"><input type="radio" th:value="${video.getVideoId()}" th:id="${video.getVideoId()}" name="radioVideo" onchange="radioCall()"/></th>
					      <td><span th:text="${video.getTopic().getTopicName()}"></span></td>		
					      <td><span th:text="${video.getDescription()}"></span></td>
					      <td><span th:text="${video.getSource() }"></span></td>
					      <td><span th:text="${video.getDateAdded()}"></span></td>
					      <td><iframe th:src="${video.getUrl()}" width="400" height="200" scrolling="no" allowfullscreen></iframe></td>
					      <td><span th:if="${video.isStatus()==1}"><div id="true"/></span>
					      	  <span th:unless="${video.isStatus()==1}"><div id="false"/></span>
					      </td>
					      
					      <td><a href=""><span th:text="${video.getUser().getFname()}"></span></a></td>
					      <td>
					      		<a class="btn btn-secondary detailVideo" th:value="${video.getVideoId()}" id="detailVideo">Update</a>
					     		
					     	</td>
					    </tr>
					    </span>
					   
					</tbody>
				
					</table>
				
				</div>
				
				<div class="container">
					<center>
						
							
						<button class="btn btn-danger" id="disableVideo"  disabled >Disable</button>
						
						<button class="btn btn-primary" id="enableVideo"  disabled >Enable</button>
							
						
					</center>
				
				
				</div>
				
			
	</form>
		  
		  
		  
		  </div>
		  <div th:class="${addActive} ? 'tab-pane fade show active' : 'tab-pane fade show'" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		  		<div class="container">
		       		<div class="header-child">
		       			<label>Upload Reference Video</label> <hr/>
		       			<div class="status" th:text="${statusAdd}"></div>
		       			<div class="errorClass" th:text="${failure}"></div>
		       			<div class="errorClass" th:text="${fileError}"></div>
		       			
		       		</div>
       			<div class=" shadow-lg p-3 mb-5 bg-white rounded" >
       			<form th:action="@{addVideo}" method="post">
       				<div class="row">
       				<div class="col-sm-4">
       					<select class="form-control" name="classSelected" id="classSelected" >
       							<option>Select Class</option>
       							<span th:each="classValue: ${classExist}">
  								<option><span th:text="${classValue.getClassName()}"></span></option>
  								</span>
						</select>
       				
       				</div>
       				
       				<div class="col-sm-4">
       					<select class="form-control" name="subjectSelected" id="subject" path="subject" disabled>
       						<option value="0" >Select Subject</option>
       						<options items="${cities}" itemValue="id" itemLabel="name" />
  											
						  </select>
       				
       				</div>
       				
       				<div class="col-sm-4">
       					<select class="form-control" name="topicSelected" id="topic" path="topic" disabled>
       						<option value="0" >Select Topic</option>
       						<options items="${cities}" itemValue="id" itemLabel="name" />
  											
						  </select>
       				
       				</div>
       				</div>
       				<hr/>
       				
       			
       				<br/>
       				<div class="row">
       				
       					<div class="col-sm-3">
       					</div>
       				
       					<div class="col-sm-3" >
       							<label for="poster" class="header-right">Description</label> 
       					</div>
       					<div class="col-sm-4">
       							<textarea class="form-control" placeholder="Enter Something" id="description" title="Max 10000 character" name="description" rows="3" required disabled></textarea>
       								<input type="hidden" id="UserIdUserEnd" name="UserIdUserEnd" value=""/>
       					</div>
       					
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<br/>
       				
       				<div class="row">
       					<div class="col-sm-3">
       					</div>
       					<div class="col-sm-3">
       						<label for="poster" class="header-right">Paste Video Embed Url</label> 
       					</div>
       					<div class="col-sm-4">
       						
       						<textarea class="form-control" placeholder="Url to the Link" id="url" title="Paste only Embed URL" name="url" rows="3" required disabled></textarea>
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<br/>
       				
       					<div class="row">
       					<div class="col-sm-3">
       					</div>
       					<div class="col-sm-3">
       						<label for="poster" class="header-right">Source</label> 
       					</div>
       					<div class="col-sm-4">
       						<input type="text" class="form-control" placeholder="Enter Source" title="Max 255 Character" name="source" aria-label="source" aria-describedby="basic-addon1" id="source" required disabled/>
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<div class="row">
       					<div class="col-sm-6">
       					</div>
       					<div class="col-sm-4">
       						<div class="terms-and-condition">
       						<input type="checkbox" class="form-check-input" id="exampleCheck1" required></div>
       						<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalScrollable">
  								<span id="agree-property">Agree to terms and conditions</span>
							</button>
   							 
       						
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       				
       				<br/>
       				
       				<div class="row">
       		
       						
       					<div class="col-sm-4">
       					</div>
       					
       							
       					<div class="col-sm-4">
       							<button class="btn btn-primary btn-action upload-submit" type="submit" disabled>Upload</button>
       					
       					</div>
       					<div class="col-sm-2">
       					</div>
       				</div>
       						
       				</form>		
       					
       			</div>
       					
       		</div>
       		
		  
		  
		  
		  
		  
		  
		  </div>
		
		</div>
       
        
       		
       		<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalCenterTitle">Terms and Conditions</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
       			
       				
       		<!-- Modal for updating the data-->
			
			<div class="modal fade" id="VideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			     <form action =""  method="post" enctype="multipart/form-data" id="uploadUpdateVideo">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalCenterTitle">Update Video</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      <div id="SuccessVideo" style="display:none;color:green;font-size:18px;text-align:center">Data Updated Successfully</div>
			      <div id="FailureVideo" style="display:none;color:red;font-size:18px;text-align:center">Please Try Again</div>
			       <div id="invalid-dataVideo" style="display:none;color:red;font-size:18px;text-align:center">Invalid Data</div>
			      <div class="row">
				      		
				      			<div class="col-sm-6">
				      				<label>Description</label>
				      			</div>
				      			<div class="col-sm-6">
				      			<textarea class="form class" id="videoDesc" name="videoDesc" rows="4" cols="33" placeholder=""></textarea>
				      			<input type="hidden" id="videoId" name="videoId" value="">
				      			</div>
				   </div>
				   
				      			<br/>
				   <div class="row">
				      		
				      			<div class="col-sm-6">
				      				<label>Source</label>
				      			</div>
				      			<div class="col-sm-6">
				      			<input type="text" class="form-control-file" id="videosource" name="videosource" value=""/>
				      			</div>
				   </div>
				   				<br/>
				    <div class="row">
				      		
				      			<div class="col-sm-6">
				      				<label>Video</label>
				      			</div>
				      			<div class="col-sm-6">
				      			<textarea class="form class" id="videourl" name="videourl" rows="4" cols="33" placeholder=""></textarea>
				      			</div>
				   </div>
				   	<div class="modal-footer">
				      		<button class="btn btn-primary" id="updateVideo" value="">Update</button>
				    </div>
				      			
				    </div>
				    </form>
				      
				      </div>
			    </div>
			  </div>
  	
       		
       
     
      				<!--  COMMON CODE FOR LIBRARY ADDED -->
        <div th:replace="common/header :: body-bottom-scripts"></div>
         <link rel="stylesheet" href="css/mdb.css" type="text/css"/> 
		<script src="js/mdb.js"></script>


        
    </body>


</html>