<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
    <head >
    
     <div th:replace="common/header :: common-header">
    
    	</div>
    
    	<title> Admin Login</title>
  
            
    </head>
    
    <body style="background-image: url(Images/backgroundStartup.jpg)">
            <!-- NAVBAR DATA TOP-MOST -->
        <nav class="navbar navbar-light" style="background-color:80b3ff">
  			<a href="#" class="navbar-brand"><img src="Images/logo.png"><strong>Admin Portal</strong> </a>
  			<center> Spoken School</center>
 	
       </nav>
       
    	<div class="container section">
    		<div class="shadow-lg p-3 mb-5 bg-white rounded">
    		<form th:action="@{/home}"  method="post">
    			<div class="header ">Login here !</div>
    			<div th:if="${param.error != null}" style="color:red;">Incorrect username or password.</div>
    			<div class="input-group mb-3">
  					<div class="input-group-prepend">
    				<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
  					</div>
  					<input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				
				<div class="input-group mb-3">
  					<div class="input-group-prepend">
    				<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
  					</div>
  					<input type="password" class="form-control" placeholder="Password" name="password" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				
				 <button class="btn btn-primary btn-login" type="submit">Login</button>
    		
    		</form>
    		</div>
    		
    		
    		
    	
       
       </div>
            
     
      				<!--  COMMON CODE FOR LIBRARY ADDED -->
        <div th:replace="common/header :: body-bottom-scripts"></div>


        
    </body>


</html>