<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head>
    <div th:replace="common/header :: common-header-Dashboard"></div>
	<title>Approve/Reject Video</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" th:data-image="@{/img/sidebar-5.jpg}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a th:href="@{/}" class="simple-text">
                        School Project
                    </a>
                </div>
                  <ul class="nav">
                    <li>
                        <a class="nav-link" th:href="@{/dashBoard}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conConceptMap}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Concepts-Map</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conPhet}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Phets</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conArticle}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Article</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conLessonPlan}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Lesson Plan</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conDocument}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Document</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conVideo}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Video</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conQuiz}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Quiz</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conView}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Status</p>
                        </a>
                    </li>
                    </div>
					<div sec:authorize="hasAuthority('Admin')">
                    <li>
                        <a class="nav-link" th:href="@{/admin/addView}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add/View Components</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Admin')">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/approve}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Approve Components</p>
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <span th:text="${LoggedUser.getFname()}"></span>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">


                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
             <div class="content">
                <div class="container-fluid">
                    <div class="card">
                    	<div class="card-header">
                                    <h4 class="card-title">Approve/Reject Video</h4>
                                    <div class="status" th:text="${status}"></div>
                         </div>
                         
                          <div class="card-body">
                          	<form th:action="@{EnableVideo}" method="post">
								<div class="table-responsive">
									<table id="dtBasicExample" class="table table-striped table-sm"
										cellspacing="0" width="100%">
						
										<thead class="">
											<tr>
												<th>#</th>
												<th>Topic Name</th>
												<th>Description</th>
												<th>Source</th>
												<th>Date Added</th>
												<th>Video</th>
												<th>Status</th>
												<th>Contributed by</th>
												<th>Operation</th>
						
											</tr>
										</thead>
						
										<tbody>
						
											<span th:each="video:${VideoAdded}">
												<tr class="clickable-row">
													<th scope="row"><input type="radio"
														th:value="${video.getVideoId()}" th:id="${video.getVideoId()}"
														name="selectionRadio" onchange="radioCall()" /></th>
													<td><span th:text="${video.getTopic().getTopicName()}"></span></td>
													<td><span th:text="${video.getDescription()}"></span></td>
													<td><span th:text="${video.getSource() }"></span></td>
													<td><span th:text="${video.getDateAdded()}"></span></td>
													<td><iframe th:src="${video.getUrl()}" width="300"
															height="150" scrolling="no" allowfullscreen></iframe></td>
													<td><span th:if="${video.isStatus()==1}"><div
																id="true" /></span> <span th:unless="${video.isStatus()==1}"><div
																id="false" /></span></td>
						
													<td><a href=""><span
															th:text="${video.getUser().getFname()}"></span></a></td>
													<td><a class="btn btn-secondary commentVideo"
														th:value="${video.getVideoId()}" id="commentVideo">Comment</a>
												</tr>
											</span>
						
										</tbody>
						
									</table>
									<!-- <span th:if="${VideoStatus}">
										<div style="text-align: center; color: red; font-size: 22px"
											th:text="${VideoStatus}" />
									</span> -->
						
								</div>
						
								<div class="container">
									<center>
						
						
										<button class="btn btn-primary" id="deleteVideo" disabled>Enable</button>
						
						
									</center>
						
						
								</div>
						
						
							</form>
                          
                          </div>
          	
					</div>
				</div>
			</div>
          	
          
          
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Spoken Tutorial
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
    
    
    <!-- Modal for updating the data-->

	<div class="modal fade" id="VideoCommentModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable "
			role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Responses</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row replyRowVideo" style="display: none">
						<div class="col-md-12">
							<textarea class="form-control" id="replyCommentVideo"
								placeholder="Add Reply" cols="30" rows="2"></textarea>
							<br />
							<button style="float: right"
								class="btn btn-primary commentVideoModalReply" name="reply">Add
								Reply</button>
							<button style="float: right" class="btn btn-default"
								onclick="$('.replyRowVideo').hide();">Close</button>
						</div>
					</div>
					<div id="SuccessVideoComment"
						style="display: none; color: green; font-size: 18px; text-align: center">Added
						Successfully</div>
					<div id="FailureVideoComment"
						style="display: none; color: red; font-size: 18px; text-align: center">Failed
						: Please Try Again</div>
					<div id="comDataVideo"></div>
					<br />

					<div class="row">


						<div class="col-sm-12">
							<textarea class="form class" id="videoComment"
								name="videoComment" rows="3" cols="70"
								placeholder="Add Comment here**"></textarea>
							<input type="hidden" id="videoId" name="videoId" value="">
							<input type="hidden" id="videoFrom" value="admin" />
						</div>
						<br />
						<div class="col-sm-12"
							style="text-align: right; padding-right: 40px;">
							<button class="btn blue-gradient commentVideoModal"
								id="commentVideoModal" name="comment" disabled>Submit</button>

						</div>

					</div>






				</div>


			</div>
		</div>
	</div>
   

	
    
    
        <!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts-Dashboard"></div>
</body>
</html>
