<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="common/header :: common-header"></div>

<title>Approve/Reject Phets</title>




</head>

<body>
	<!-- NAVBAR DATA TOP-MOST -->
	<div th:replace="common/header :: navbar-Admin"></div>


	<div class="header-child">
		<label>Available Phets</label>
		<hr />
		<div class="status" th:text="${status}"></div>
	</div>


	<form th:action="@{EnablePhet}" method="post">
		<div class="table-responsive">
			<table id="dtBasicExample" class="table table-striped table-sm"
				cellspacing="0" width="100%">

				<thead class="">
					<tr>
						<th>#</th>
						<th>Topic Name</th>
						<th>Description</th>
						<th>Date Added</th>
						<th>Source</th>
						<th>Link</th>
						<th>Status</th>
						<th>Contributed by</th>
						<th>Operation</th>

					</tr>
				</thead>

				<tbody>

					<span th:each="phet:${PhetsAdded}">
						<tr class="clickable-row">
							<th scope="row"><input type="radio"
								th:value="${phet.getPhetId()}" th:id="${phet.getPhetId()}"
								name="selectionRadio" onchange="radioCall()" /></th>
							<td><span th:text="${phet.getTopic().getTopicName()}"></span></td>
							<td><span th:text="${phet.getDescription()}"></span></td>
							<td><span th:text="${phet.getDateAdded()}"></span></td>
							<td><span th:text="${phet.getSource()}"></span></td>
							<td><iframe th:src="${phet.getUrl()}" width="400"
									height="200" scrolling="no" allowfullscreen></iframe></td>


							<td><span th:if="${phet.isStatus()==1}"><div
										id="true" /></span> <span th:unless="${phet.isStatus()==1}"><div
										id="false" /></span></td>

							<td><a href=""><span
									th:text="${phet.getUser().getFname()}"></span></a></td>
							<td><a class="btn btn-secondary commentPhet"
								th:value="${phet.getPhetId()}" id="commentPhet">Comment</a></td>

						</tr>
					</span>

				</tbody>

			</table>

			<span th:if="${phetStatus}">
				<div style="text-align: center; color: red; font-size: 22px"
					th:text="${phetStatus}" />
			</span>

		</div>

		<div class="container">
			<center>


				<button class="btn btn-primary" id="deletePhet" disabled>Enable</button>


			</center>


		</div>

	</form>


	<!-- Modal for Commenting Phets-->

	<div class="modal fade" id="PhetCommentModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable"
			role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Responses</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row replyRowPhet" style="display: none">
						<div class="col-md-12">
							<textarea class="form-control" id="replyCommentPhet"
								placeholder="Add Reply" cols="30" rows="2"></textarea>
							<br />
							<button style="float: right"
								class="btn btn-primary commentPhetModalReply" name="reply">Add
								Reply</button>
							<button style="float: right" class="btn btn-default"
								onclick="$('.replyRowPhet').hide();">Close</button>
						</div>
					</div>

					<div id="SuccessPhetComment"
						style="display: none; color: green; font-size: 18px; text-align: center">Added
						Successfully</div>
					<div id="FailurePhetComment"
						style="display: none; color: red; font-size: 18px; text-align: center">Failed
						: Please Try Again</div>
					<div id="comDataPhet"></div>
					<br />
					<div class="row">


						<div class="col-sm-12">
							<textarea class="form class" id="phetComment" name="phetComment"
								rows="3" cols="70" placeholder="Add Comment here**"></textarea>
							<input type="hidden" id="phetId" name="phetId" value="">
							<input type="hidden" id="phetFrom" value="admin" />
						</div>
						<br />
						<div class="col-sm-12"
							style="text-align: right; padding-right: 40px;">
							<button class="btn blue-gradient commentPhetModal"
								id=commentPhetModal value="" name="comment" disabled>Submit</button>

						</div>

					</div>



				</div>


			</div>
		</div>
	</div>






	<link rel="stylesheet" href="css/mdb.css" type="text/css" />

	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>


	<script src="js/mdb.js"></script>





</body>


</html>