
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head>
    <div th:replace="common/header :: common-header-Dashboard"></div>
	<title>Approve Content</title>
   
</head>

<body>
   <div class="wrapper">
        <div class="sidebar" th:data-image="@{/img/sidebar-5.jpg}">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a th:href="@{/}" class="simple-text">
                        School Project
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" th:href="@{/dashBoard}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conConceptMap}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Concepts-Map</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conPhet}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Phets</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conArticle}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Article</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conLessonPlan}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Lesson Plan</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conDocument}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Document</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conVideo}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Video</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conQuiz}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Quiz</p>
                        </a>
                    </li>
                    </div>
                    <div sec:authorize="hasAuthority('Teacher')">
                    <li>
                        <a class="nav-link" th:href="@{/conView}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Status</p>
                        </a>
                    </li>
                    </div>
					<div sec:authorize="hasAuthority('Admin')">
                    <li>
                        <a class="nav-link" th:href="@{/admin/addView}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add/View Components</p>
                        </a>
                    </li>
                    </div>
                     <div sec:authorize="hasAuthority('Admin')">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/approve}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Approve Components</p>
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <span th:text="${LoggedUser.getFname()}"></span>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">
                        

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                                <div class="card-body">
                                    
                                    <div class="card" style="width: 22rem;">
                                      <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a th:href="@{approve/userList}">List all users</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectTeacher}">Approve/Reject Teachers</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectVideo}">Approve/Reject Reference Video</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectDocument}">Approve/Reject Reference Document</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectArticle}">Approve/Reject Reference Article</a></li>  
                                     
                                      </ul>
                                    </div>
                                       
                                       
                                </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                           
                            
                             <div class="card" style="width: 22rem;">
                                      <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectConcept}">Approve/Reject Reference Concept-Maps</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectPhets}">Approve/Reject Reference Phets</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectQuiz}">Approve/Reject Reference Quiz</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/approveRejectLesson}">Approve/Reject Reference Lesson Plan</a></li>
                                        <li class="list-group-item"><a th:href="@{approve/contactInformation}">View Feedbacks</a></li>  
                                      </ul>
                            </div>
                                
                            </div>
                            
                          
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>

                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Spoken Tutorial
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
    <!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts-Dashboard"></div>

</body>


</html>
