<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/header :: common-header">
  	
  	          
            
    </head>
    
    <body>
            <!-- NAVBAR DATA TOP-MOST -->
         <div th:replace="common/header :: navbar-Admin"></div>
       
       
       <div class="header-child">
       			<label>Available Reference Article</label> <hr/>
       			<div class="status" th:text="${status}"></div>
       	</div>
       	<div style="text-align:right;padding-right:20px;">
 
       		<select  name="roleSelected" id="roleSelected" onchange="filterByRole()">
       							<option>Filter By Topic</option>
       					<span th:each="topic:${Topic}">		
  								<option><span th:text="${topic.getTopicName()}"></span></option>
  						</span>
  								
  								
			</select>
	
       	
       	
       	<input type="text" id="myInput" onkeyup="filterByName()" placeholder="Search for names.." title="Type in a name"/>
   		</div>
   		
      	<form th:action="@{deleteArticle}" method="post">
      	<div class="table-responsive">
				<table id="tablePreview" class="table table-hover table-striped">
	
				  <thead class="">
				    <tr>
				      <th>#</th>
				      <th>Topic Name</th>
				      <th>Description</th>
				      <th>Date Added</th>
				      <th>Source</th>
				      <th>Link</th>
				      <th>Status</th>
				      <th>Contributed By</th>
				      <th> Operation</th>
				 
				    </tr>
				  </thead>
		
				  <tbody>
				  
				  <span th:each="article:${Article}">
				    <tr class="clickable-row">
				      <th scope="row"><input type="radio" th:value="${article.getArticleId()}" th:id="${article.getArticleId()}" name="selectionRadio" onchange="radioCall()"/></th>
				      <td><span th:text="${article.getTopic().getTopicName()}"></span></td>		
				      <td><span th:text="${article.getDescription()}"></span></td>
				      <td><span th:text="${article.getDateAdded()}"></span></td>
				      <td><span th:text="${article.getSource()}"></span></td>
				      <td><a th:href="${article.getUrl()}"><span th:text="${article.getUrl()}"></span></a></td>
				      
				      <td><span th:if="${article.isStatus()==1}"><div id="true"/></span>
				      	  <span th:unless="${article.isStatus()==1}"><div id="false"/></span>
				      </td>
				      
				      <td><a href=""><span th:text="${article.getUser().getFname()}"></span></a></td>
				      <td>
				      		<span th:if="${session.UserNameAdmin == article.getUser().getFname()}"><a class="btn btn-secondary detailArticle" th:value="${article.getArticleId()}" id="detailArticle">Update</a>
				     		</span>
				     </td>
				    </tr>
				    </span>
				   
				</tbody>
			
				</table>
			
			</div>
			
			<div class="container">
				<center>
					
						
					<button class="btn btn-danger" id="deleteArticle"  disabled >Delete</button>
						
					
				</center>
			
			
			</div>
			
		</form>
		
		<!-- Modal for updating the data-->
			
			<div class="modal fade" id="ArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			    <form action =""  method="post" enctype="multipart/form-data" id="uploadArticle">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalCenterTitle">Update Article</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      <div id="Success" style="display:none;color:green;font-size:18px;text-align:center">Data Updated Successfully</div>
			      <div id="Failure" style="display:none;color:red;font-size:18px;text-align:center">Please Try Again</div>
			       <div id="invalid-data" style="display:none;color:red;font-size:18px;text-align:center">Invalid Data</div>
			      <div class="row">
				      		
				      			<div class="col-sm-6">
				      				<label>Description</label>
				      			</div>
				      			<div class="col-sm-6">
				      			<textarea class="form class" id="articleDesc" name="articleDesc" rows="4" cols="33" placeholder=""></textarea>
				      			<input type="hidden" id="artcileId" name="artcileId" value="">
				      			</div>
				   </div>
				   
				      			<br/>
				   <div class="row">
				      		
				      			<div class="col-sm-6">
				      				<label>Source</label>
				      			</div>
				      			<div class="col-sm-6">
				      			<input type="text" class="form-control-file" id="articlesource" name="articlesource" value=""/>
				      			</div>
				   </div>
				   				<br/>
				    <div class="row">
				      		
				      			<div class="col-sm-6">
				      				<label>Artcile Link</label>
				      			</div>
				      			<div class="col-sm-6">
				      			<textarea class="form class" id="articleurl" name="articleurl" rows="4" cols="33" placeholder=""></textarea>
				      			</div>
				   </div>
				   	<div class="modal-footer">
				      		<button class="btn btn-primary" id="updateArticle" value="">Update</button>
				    </div>
				      			
				    </div>
				      </form>
				      </div>
			    </div>
			  </div>
  	

  
       
       				
       		
       
		<link rel="stylesheet" href="css/mdb.css" type="text/css"/>      
      				
      				<!--  COMMON CODE FOR LIBRARY ADDED -->
        <div th:replace="common/header :: body-bottom-scripts"></div>


	   	<script src="js/mdb.js"></script> 
	   	
	   	<script>
			function filterByName() {
  				var input, filter, table, tr, td, i, txtValue;
 				 input = document.getElementById("myInput");
 				 filter = input.value.toUpperCase();
 				 table = document.getElementById("tablePreview");
  				 tr = table.getElementsByTagName("tr");
                 for (i = 0; i < tr.length; i++) {
                     td = tr[i].getElementsByTagName("td")[0];
                     if (td) {
                      txtValue = td.textContent || td.innerText;
      					if (txtValue.toUpperCase().indexOf(filter) > -1) {
       						 tr[i].style.display = "";
     					 } else {
       							 tr[i].style.display = "none";
      						}
    					}       
  				}
			}
			
			
			function filterByRole() {
  				var input, filter, table, tr, td, i, txtValue;
 				 input = document.getElementById("roleSelected");
 				 filter = input.value.toUpperCase();
 				 table = document.getElementById("tablePreview");
  				 tr = table.getElementsByTagName("tr");
                 for (i = 0; i < tr.length; i++) {
                     td = tr[i].getElementsByTagName("td")[0];
                     if (td) {
                      txtValue = td.textContent || td.innerText;
      					if (txtValue.toUpperCase().indexOf(filter) > -1) {
       						 tr[i].style.display = "";
     					 } else {
       							 tr[i].style.display = "none";
      						}
    					}       
  				}
			}
</script> 
	   	

        
    </body>


</html>