<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1000/xhtml">

<head>
	  <div th:replace="common/header :: common-header-Dashboard"></div>
	  <title>Lesson Plan</title>
   
</head>

<body>

	
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        Resources
                    </a>
                </div>
               <ul class="nav">
                    <li>
                        <a class="nav-link" th:href="@{'/contentConcept/'+ ${TopicSelected.getTopicId()}}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Concept-Map</p>
                        </a>
                    </li>
                    <li  >
                        <a class="nav-link" th:href="@{'/contentTutorial/'+ ${TopicSelected.getTopicId()}}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Tutorial</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/contentPhet/'+ ${TopicSelected.getTopicId()}}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Phets</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/contentLink/'+ ${TopicSelected.getTopicId()}}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Links</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{'/contentLesson/'+ ${TopicSelected.getTopicId()}}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Lesson Plan</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/contentQuiz/'+ ${TopicSelected.getTopicId()}}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Quiz</p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" style="color:blue" th:href="@{/}"><span class="fas fa-home"></span></a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="nav navbar-nav mr-auto">
                        
                            <li class="nav-item">
                                
										<div class="container" style="margin-top:10px">
								
											<span style="display: flex">
												<h4 style="color: black; margin: 0px;">
													<span th:text="'Class '+${classSelected}"></span>/
												</h4>
								
												<h4 style="color: black; margin: 0px">
													<span th:text="${subjectSelected}"></span>
												</h4>
								
								
											</span>
											<h3 style="color: black; font-weight: bold;margin-top:0px;">
												<span th:text="${TopicSelected.getTopicName()}"></span>
											</h3>
								
								
										</div>
									
                               
                            </li>
                           <!--  <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                    <span class="notification">5</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Notification 1</a>
                                    <a class="dropdown-item" href="#">Notification 2</a>
                                    <a class="dropdown-item" href="#">Notification 3</a>
                                    <a class="dropdown-item" href="#">Notification 4</a>
                                    <a class="dropdown-item" href="#">Another notification</a>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nc-icon nc-zoom-split"></i>
                                    <span class="d-lg-block">&nbsp;Search</span>
                                </a>
                            </li>  -->
                        </ul>

                        <ul class="navbar-nav ml-auto">
							
                            <!-- <li class="nav-item" style="margin-right:20px">
                                
                                    <select id="inputClass" class="browser-default custom-select pad-extra" name="classSelected" style="margin-top:20px">

										<option selected>Select Class</option>
										<span th:each="classValue: ${classfromDatabase}">
										<option><span th:text="'Class '+${classValue.getClassName()}"></span></option>
								</span>
									</select>
                               
                            </li>
                            
                            <li class="nav-item" style="margin-right:20px">
                                
                              <select class="browser-default custom-select pad-extra"
								name="subjectSelected" id="subjectHome" path="subject" style="margin-top:20px">
								<option selected>Select Subject</option>
								<span th:each="subjectValue: ${subjectfromDatabase}">
									<option><span th:text="${subjectValue.getSubName()}"></span>
									</option>
								</span>
							
							</select>
                                
                            </li> -->
                            
                             <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#frameModalBottom">
                                    <span class="no-icon">Modify Search ?</span>
                                </a>
                            </li>
		
                          <!--   <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="no-icon">Dropdown</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li> -->
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link" th:href="@{/Login}">
                                    <span class="no-icon">Login</span>
                                </a>
                            </li>
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link" th:href="@{/Signup}">
                                    <span class="no-icon">Register</span>
                                </a>
                            </li>
							
							 <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" th:href="@{/dashBoard}">
                                    <span class="no-icon">DashBoard</span>
                                </a>
                            </li>
                            
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" th:href="@{/logout}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                     <h3 style="text-align: center">Lesson Plan</h3>
                                </div>
                                <div class="card-body">
                               		<div class="table-responsive" th:each="lesson:${LessonOnTopic}" style="padding-bottom: 10px">
										<table class="table">
											<thead>
												<tr>
													<th colspan=""><h4>Lesson Plan</h4></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><p>
															<a th:href="@{/files/}+@{${lesson.getLessonPlan()}}"
																style="color: blue" target="_blank">Download</a>
														</p>
													</td>
			
												</tr>
			
											</tbody>
										</table>

									</div>
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>

                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Spoken Tutorial
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

        <!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts-Dashboard"></div>
	
	<!-- Frame Modal Bottom -->
	<div class="modal fade bottom" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-frame and then add class .modal-bottom (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-frame modal-top" role="document">


    <div class="modal-content">
      <div class="modal-body">
         <div class="row d-flex justify-content-center align-items-center">
			
			
			<div class="container" style="text-align:center">
				<form th:action="@{/courses}" method="get"><form>
				<div class="row" style="padding-left:100px;padding-right:100px;">
					<div class="col-sm-6 col-md-4">
						 <select id="inputClass" class="browser-default custom-select pad-extra" name="classSelected" style="margin-top:10px">

										<option selected>Select Class</option>
										<span th:each="classValue: ${classfromDatabase}">
										<option><span th:text="'Class '+${classValue.getClassName()}"></span></option>
										</span>
						</select>
					</div>
					<div class="col-sm-6 col-md-4">
						<select class="browser-default custom-select pad-extra"
								name="subjectSelected" id="subjectHome" path="subject" style="margin-top:10px">
								<option selected>Select Subject</option>
								<span th:each="subjectValue: ${subjectfromDatabase}">
									<option><span th:text="${subjectValue.getSubName()}"></span>
									</option>
								</span>
							
						</select>
					</div>
					<div class="col-sm-6 col-md-2">
						 <button type="submit" class="btn btn-primary">Submit</button>
					</div>
					
					<div class="col-sm-6 col-md-2">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
				</form>				
			</div>
		 
          
          
         
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- Frame Modal Bottom -->
	

</body>

</html>