<!Doctype>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head>

<div th:replace="common/header :: common-header"></div>

<title>Homepage</title> 

</head>

<body>

	<!-- Registration confirmation -->
	<div th:if="${registerDone}">
		<input type="hidden" value="yes" id="reg">
	</div>
	
	<div th:unless="${registerDone}">
		<input type="hidden" value="no" id="reg">
	</div>

	<!-- <div th:class="bg-poster"> -->
	<div>
		
		<div th:replace="common/header :: navbar"></div>
	</div>
	<section class="intro">
	<div class="i-select">
	<form th:action="@{/courses}" method="get">
	<div class="search row">
	<div class="col-md-4">
	<select class="form-control c-select"  name="classSelected" id="inputClass">
  			<option>Select Class</option>
  			<span th:each="classValue: ${classfromDatabase}">
				<option><span th:text="'Class '+${classValue.getClassName()}"></span></option>
			</span>
	</select>
	</div>
	<div class="col-md-4">
	<select class="form-control c-select" name="subjectSelected" id="subjectHome">
  			<option>Select Subject</option>
  			<span th:each="subjectValue: ${subjectfromDatabase}">
				<option><span th:text="${subjectValue.getSubName()}"></span></option>
			</span>
	</select>
	</div>
	<div class="col-md-4">
	<select class="form-control c-select" name="topicSelected" id="topicSelected">
  			<option value="Select Topic">Select Topic</option>
	</select>
	</div>	
	</div>
	
	<div class="row">
	<div class="col-md-12 search-btn">
	<button type="submit" class="btn c-btn">SUBMIT</button>
	</div>
	</div>
	</form>
	
	<div>
	<div class="tagline">
			<h1>Repository for School <br> 
			Teaching & Learning Resources</h1>
		</div>
	</div>
	</div>
	<div class="row">
	<div class="col-lg-6 i-content">
	</div>
	<div class="col-lg-6 i-img"></div>
	</div>	
	</section>
	
	<section class="about" id="About-us">
	<div class="row">
		<div class="col-md-6 a-content">
		<h1>About Us</h1>
		<h5>Repository For School Resources</h5>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
		Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
		when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
		It has survived not only five centuries, but also the leap into electronic typesetting, 
		remaining essentially unchanged. </p>
		<a href="#" class="c-btn" style="padding: 10px 20px;">Read More</a>
		</div>
		<div class="col-md-6 a-img">
		<img src="../Images/about.jpg">
		</div>
	</div>
	</section>
	<section class="resources" style="border-bottom: 1px solid #E6E6E6;" id="Resources">
		<h1>Teaching / Learning Resources</h1>
		<div class="row">
			<div class="col-md-4 rb-border">
				<div><span class="r-icon"><i class="fas fa-book-open"></i></span><span class="r-header">Concept-Maps</span></div>
				<div><p>A diagram that depicts suggested relationships between concepts</p></div>
			</div>
			<div class="col-md-4 rb-border">
				<div><span class="r-icon"><i class="far fa-file-video"></i></span><span class="r-header">Tutorials</span></div>
				<div><p>Spoken Tutorials on more than 50+ topics in 22+ Indian languages</p></div>
			</div>
			<div class="col-md-4 b-border">
				<div><span class="r-icon"><i class="fas fa-atom"></i></span><span class="r-header">PhETs</span></div>
				<div><p>An acronym for "Physics Education Technology", includes simulations about many topics </p></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 r-border">
				<div><span class="r-icon"><i class="fas fa-link"></i></span><span class="r-header">Links</span></div>
				<div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
			</div>
			<div class="col-md-4 r-border">
				<div><span class="r-icon"><i class="far fa-list-alt"></i></span><span class="r-header">Lesson Plans</span></div>
				<div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
			</div>
			<div class="col-md-4">
				<div><span class="r-icon"><i class="far fa-clipboard"></i></span><span class="r-header">Quizzes</span></div>
				<div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
			</div>
		</div>
	</section>
	
	<section class="events" th:if="${Events != null}" id="Event">
	<div class="row">
	<div class="col-md-12 events-heading"><h1>Events</h1></div>
	</div>
	
	<div class="row">
	<div class="col-md-7">
	<div class="row item" th:each="event:${Events}">
		<div th:class="${eventStat.even} ? 'col-sm-12 col-md-4 col-lg-2 e-calender e-even' : 'col-sm-12 col-md-4 col-lg-2 e-calender e-odd'">
		<p><i class="far fa-calendar-alt e-cal"></i></p>
		<p th:text="${#calendars.day(event.getDateToHappenStart())+ '  '+#calendars.monthNameShort(event.getDateToHappenStart()) + ', '+ #calendars.year(event.getDateToHappenStart())} "></p>
		<p th:text="${#calendars.day(event.getDateToHappenEnd())+ '  '+#calendars.monthNameShort(event.getDateToHappenEnd()) + ', '+ #calendars.year(event.getDateToHappenEnd())} "></p>
		</div>
		<div class="col-sm-12 col-md-8 col-lg-10 e-content">
		<p th:text="${event.getHeadline()}" class="e-title"></p>
		<p><i class="fas fa-map-marker-alt e-map"></i> <span th:text="${event.getLocation()}"></span></p>
		</div>
	</div>
	<a th:href="@{eventsList}" class="know-more-btn"><div class="row know-more">Click here for all events information</div></a>
	
	</div>
	<div class="col-md-4  quote">
	<p><i class="fas fa-quote-left icon-quote-l"></i>
	Creativity is the key to success in the future, and primary education is where 
	teachers can bring creativity in children at that level.<i class="fas fa-quote-right icon-quote-r"></i></p>
	<hr><p><i class="fas fa-quote-left icon-quote-l"></i>
	The future of the nation depends on the quality of primary education imparted.<i class="fas fa-quote-right icon-quote-r"></i>
	</p>
	<!-- <br> -->
	<span class="dr-apj">- Dr. A. P. J. Abdul Kalam</span>
	</div>
	</div>
	
	
	</section>
	
	<section class="testimonials" th:if="${TestimonialRest!= null}" id="Testimonial">
	<h1>Testimonials</h1>
	<div class="card-deck">
		<div class="card t-item" th:each="testi:${TestimonialRest}">
		  <div class="card-body" >
		    
		  <p> <span th:text="${#strings.abbreviate(testi.getDescription(),250)} "/>.... <span><a class="testimonialModal" th:value="${testi.getTestimonialId()}"><i class="far fa-plus-square t-plus"></i></a>    </span></p>
		  <!-- <p> <span th:text="${testi.getDescription()}"/>.... <span><a class="testimonialModal" th:value="${testi.getTestimonialId()}"><i class="far fa-plus-square t-plus"></i></a>    </span></p> -->
				<p class="t-name" th:text="${testi.getName()}"></p>
				<p class="t-info" th:text="${testi.getOrganization()}"></p>
		  </div>
		</div>
  		
	</div>
	<a th:href="@{testimonials}" class="know-more-btn-t" ><div class=" know-more" >View all Testimonials</div></a>
	</section>
	
	<h1 class="contact-header text-center" id="Contact-us">Contact</h1>
	<section class="c-footer">
	<div class="row">
	<div class="col-md-3 f-info f-address">
	<p><i class="fas fa-map-marked-alt f-icon"></i></p>
	<p>Spoken Tutorial Project</p>
	<p>TCS Lab, Behind CAD Center,</p>
	<p>IIT Bombay, Powai,</p>
	<p>Mumbai - 400076</p>
	</div>
	<div class="col-md-3 f-info f-contact">
	<!-- <h1 style="color: #fff;">Contact</h1> -->
	<p><i class="fas fa-phone-square-alt f-icon"></i></p>
	<p>+ 91 22 25764229</p>
	<br>
	<p><i class="fas fa-envelope f-icon"></i></p>
	<p>contact@spoken-tutorial.org</p>
	</div>
	<div class="col-md-6 f-msg">
	<div><h5>Feedback / Collaborate with us</h5></div>
	<div class="w3agile_contact_left f-form">

					<input type="text" id="name" name="Name" placeholder="Name"
						required /> <input type="email" id="email" name="Email"
						placeholder="Email" required />
					<textarea name="Message" id="message" placeholder="Message.."
						required></textarea>
					<div id="statusOnContactForm"
						style="color: red; display: none; margin-top: 10px;">Provide
						Correct E-mail</div>
					<div id="statusOnContactFormAfterAjaxCallSucess"
						style="color: green; display: none; margin-top: 10px;">Query has been recorded,Soon you will be contacted.
					</div>
					<div id="statusOnContactFormAfterAjaxCallFailure"
						style="color: red; display: none; margin-top: 10px;">Please
						Try Again</div>
					<button class="btn f-btn" style="margin-top: 30px"
						id="contactForm" disabled>Send</button>

				</div>
	</div>
	</div>
	</section>

	
	<!-- <section class="section-header" style="background: #a5b5b3">
		<div class="container">
			<div class="section1">
				<h3 class="section-title-except-contact-us">Check out Our
					Latest Videos</h3>
				<div class="line" style="width: 20%"></div>
			</div>

			<div id="carouselExampleInterval" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row" style="padding-left:100px;padding-right: 100px">
							<div class="col-sm-6 column-video-property">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item"
										src="https://www.youtube.com/embed/ru032Mfsfig"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>

							<div class="col-sm-6 column-video-property">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item"
										src="https://www.youtube.com/embed/8Posj4WMo0o"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row" style="padding-left:100px;padding-right: 100px">
							<div class="col-sm-6 column-video-property">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item"
										src="https://www.youtube.com/embed/xFQgt47_R2Y"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>

							<div class="col-sm-6 column-video-property">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item"
										src="https://www.youtube.com/embed/8Posj4WMo0o"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
						</div>

					</div>
					<div class="carousel-item">
						<div class="row" style="padding-left:100px;padding-right: 100px">
							<div class="col-sm-6 column-video-property">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item"
										src="https://www.youtube.com/embed/ru032Mfsfig"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>

							<div class="col-sm-6 column-video-property">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item"
										src="https://www.youtube.com/embed/8Posj4WMo0o"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
						</div>

					</div>
				</div>

				<a class="carousel-control-prev" href="#carouselExampleInterval"
					role="button" data-slide="prev"> <span class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleInterval"
					role="button" data-slide="next"> <span class="sr-only">Next</span>
				</a>
				
				<a class="carousel-control-prev " href="#carouselExampleInterval"
						role="button" data-slide="prev"> <span
						class="icon-prev carousel-control-prev-icon " aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a> <a class="carousel-control-next right carousel-control"
						href="#carouselExampleInterval" role="button" data-slide="next"> <span
						class="icon-next carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
			</div>

		</div>
	</section> -->

	<!--  ********************************FOOTER SECTION *********************************** -->
	<div th:replace="common/header ::footer"></div>


	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>

	<!-- Modal  for previewing the Images -->
	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Image
						Viewer</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="" id="imagepreview" style="width: 100%;" /> ...

					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal for registration update  -->
	<div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Registration Update</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h6 style="text-align:center">Registration is completed Successfully</h6>

					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>
	
	
		<!-- Modal -->
	<div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      <div class="modal-title" id="testimonialModalTitle">
	      <h5 class="modal-title t-name" id="testiDataName"></h5>
	      <p class="t-info" id="testiDataProf"></p>
	      </div>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="testiDataDesc"></p>
	        <div id="pdfdiv" style="display:none">
	        <a id="testiDataPDF"
				target="_blank" class="pdfclass"><i class="fas fa-external-link-alt"></i></a>
			</div>
			<div id="videodiv" style="display:none">
			
				
			</div>
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>
	  </div>
	</div>
	
	<script  th:inline="javascript">
	
	$(function(){
		
		$('.testimonialModal').click(function(){
			var testi_id=$(this).attr('value');
			
			$('#videodiv').css('display','none');
			$('#pdfdiv').css('display','none');
			
			var testimonialID={
					"testimonialId":testi_id
				};
				
				var urlPassed;
				
				if(DeploymentType){								// Url Creation based on depolyment 
					urlPassed= "/loadByTestimonialID";
			
	        	}else{
	        		urlPassed= projectName+"/loadByTestimonialID";
			
	        	}
				
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				
				$.ajax({
			  	type: "POST",
	        	contentType: "application/json",
	       		 url: "/loadByTestimonialID",
	       		 data: JSON.stringify(testimonialID),
	       		 beforeSend: function(xhr) {
                     xhr.setRequestHeader(header, token);
	       		 },
	       		 dataType: 'json',
	       		 cache: false,
	        	 timeout: 600000,
	       		 success: function (data){
	       			 
	       			$('#testiDataName').text(data["name"]);
	       			$('#testiDataProf').text(data["organization"]);
	       			$('#testiDataDesc').text(data["description"]);
	       			
	       			if(data["filePath"] != null){
	       	
	       		 	$('#testiDataPDF').attr("href", [(@{/files/})]+data["filePath"]);
	       		 	$('#pdfdiv').css('display','block');
	       		 	
	       			}else if(data["videoPath"] != null){
	       				
	       				
	       			var vik='<video width="480" height="150" controls><source src="'+  [(@{/files/})]+data["videoPath"] + '"type="video/mp4"/> </video>';
	     
	       			//$('#testDataVideo').attr("src", [(@{/files/})]+data["videoPath"]);
	       			$('#videodiv').html(vik);
		       		$('#videodiv').css('display','block');
	       			}
	       			
	     
	       		
				},
				
				error : function(err){
					console.log("not working. ERROR: "+JSON.stringify(err));
				}
				
			});
				
				$('#testimonialModal').modal('show');
			
		})
		
		
	});
	
	
	</script>




</body>


</html>