<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="common/header :: common-header"></div>

<title>Login</title>

</head>
<body>

	<!--  CODE FOR NAVBAR -->
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container">
	<div class="row login-wrapper">
		<div class="col-md-6 login-bg">
		<div class="overlay">
		
		</div>
		</div>
		<div class="col-md-6 login-form">
		<div class="spk-login-form ">
		<center>
			<h2>Login Here</h2>
		</center>
		<center>
			<h6 style="color:red">
				<div th:if="${param.error != null}">Incorrect username or password.</div>
			</h6>
		</center>
		
		<form th:action="@{/Login}" method="post">
		
		
		
			<div class="spk-form-group">
				<label>Email:</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i
							class="fas fa-user"></i></span>
					</div>
					<input type="email" class="form-control" placeholder="Email"
						aria-label="Username" aria-describedby="basic-addon1"
						name="username" id="username" required />
				</div>
			</div>
			<div class="spk-form-group">
				<label>Password:</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i
							class="fas fa-key"></i></span>
					</div>
					<input type="password" class="form-control" placeholder="Password"
						aria-label="password" aria-describedby="basic-addon1"
						name="password" id="password" required />
				</div>
			</div>

			<div>
				<a th:href="@{forgetPassword}">Forgot
					Password?</a>
			</div>

			<button class="btn btn-login" type="submit" id="login">Login</button>

		</form>
		<p class="spk-register-p">
			Don't have an account?<a href="Signup">Register</a>
		</p>
	</div>

		</div>
		
		
		</div>
	
	</div>
	
	





	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
	
</body>

</html>