<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">

    <head >
    
    <div th:replace="common/header :: common-header">
    
    </div>
    
    <title>Reset Password</title>
    

        
    </head>
    <body >
    
    	<!--  CODE FOR NAVBAR -->			
    <div th:replace="common/header :: navbar"></div>
	
    <div class="spk-login-form ">
        <center><h2>Reset Password</h2></center><br/>
        <center><h6 class="errorClass"><span th:text="${Error}"></span></h6></center>
       	       <center><h6 class="SuccessClass"><span th:text="${Success}"></span></h6></center>
        <form th:action="@{/resetPassword}" method="post">

            <div class="container">
            
                <input type="password" id="password" class="form-control mb-4" placeholder="Password" name="Password" required/>

   				 <!-- Password -->
    			<input type="password" id="passwordConf" class="form-control mb-4" placeholder="Confirm" name="Confirm" required/>
               
            </div>
          
            
         	<input type="hidden" name="token" th:value=${resetToken} >
            <button class="btn btn-primary btn-login" type="submit">Submit</button>
    
        </form>
  
    </div>
       
    
        
        
        
    
        	<!--  COMMON CODE FOR LIBRARY ADDED -->
       <div th:replace="common/header :: body-bottom-scripts"></div>
    </body>

</html>