<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="common/header :: common-header"></div>

<title>Signup</title>

</head>

<body>

	<!--  CODE FOR NAVBAR -->
	<div th:replace="common/header :: navbar"></div>
	<!--  /CODE FOR NAVBAR -->

	<div class="container" style="padding-top:20px" id="register">
	<ul class="nav nav-tabs row" id="myTab" role="tablist" >
  <li class="nav-item col-md-4">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
    <input type="radio" name="sections" id="option1"
					th:checked="${checkedOptionLearner}"> <label for="option1"
					class="icon-left-w3pvt">Learner</label>
    
    </a>
  </li>
  <li class="nav-item col-md-4">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
    <input type="radio" name="sections" id="option2"
					th:checked="${checkedOptionParent}"> <label for="option2"
					class="icon-left-w3pvt">Parent</label>
    </a>
  </li>
  <li class="nav-item col-md-4">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
    <input type="radio" name="sections" id="option3"
					th:checked="${checkedOptionTeacher}"> <label for="option3"
					class="icon-left-w3pvt">Teacher</label>
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <article class="shadow-lg p-3 mb-5 bg-white rounded">
					<form th:action="@{/newUserL}" method="post">

						<div class="legend">Learner</div>
						<div class="text-center">
							<p class="errorClass">
								<span th:text="${FailureL}"></span>
							</p>
						</div>
						<div class="input">

							<input type="email" placeholder="Email" name="email"
								id="validateEmailL" required />



						</div>
						<div id="availableL" style="display: none; color: green">Available</div>
						<div id="notAvailableL" style="display: none; color: red">E-mail
							has already Taken</div>
						<div id="invalidEmailL" style="display: none; color: red">Invalid
							Email</div>
						<div class="input">

							<input type="text" name="txtLearnersFirstname"
								placeholder="First Name" id="txtLearnersFirstname" required />

						</div>
						<div class="input">

							<input type="text" name="txtLearnersLastname"
								placeholder="Last Name" id="txtLearnersLastname" required />
						</div>
						<div class="input">

							<input type="password" placeholder="Password" name="password1"
								id="passwordL" title="Password should be atleast 6 character"
								required />
						</div>
						<div id="passwordIncorrectL" style="display: none; color: red">Password
							must be 6 character Long</div>

						<div class="input">

							<input type="password" placeholder="Confirm Password"
								name="password2" id="password2L" required />
						</div>
						<div id="ConfIncorrectL" style="display: none; color: red">Confirm
							password must be same as password entered</div>

						<div class="gender-dob">
						<div class="radio">

							<input type="radio" name="gender" value="Male" id="gender"
								required /> Male <input type="radio" name="gender"
								value="Female" id="gender" required /> Female

						</div>
						<div class="input">

							<input type="date" title="Date of Birth" name="txtdate"
								id="txtdate" required /> <small>Date of Birth</small>
						</div>
						
						
						
						</div>
						
						

						<div class="input">

							<input type="text" name="txtLearnersSchoolName"
								id="txtLearnersSchoolName" placeholder="Enter School Name"
								required />
						</div>
						<div class="input">

							<input type="text" name="txtLearnersSchoolAddress"
								id="txtLearnersSchoolAddress" placeholder="Enter School Address"
								required />

						</div>

						<div class="input">

							<input type="text" name="txtPincode" class="calculator-input"
								placeholder="Enter Pincode" id="txtPincode"
								onkeypress="return event.charCode >= 48 && event.charCode <= 57"
								required />

						</div>

						<button type="submit" class="btn btn-login"
							onsubmit="" id="registerL" disabled>Register</button>


						<span class="login-end">Already Registered ?<a href="Login"
							class="bottom-text-w3ls">Login here</a></span>
					</form>
				</article>
  
  
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <article class="shadow-lg p-3 mb-5 bg-white rounded">
					<form th:action="@{/newUserP}" method="post">
						<div class="legend">Parent</div>
						<div class="text-center">
							<p class="errorClass">
								<span th:text="${FailureP}"></span>
							</p>
						</div>

						<div class="input">

							<input type="email" placeholder="Email" name="email"
								id="validateEmailP" required />

						</div>
						<div id="availableP" style="display: none; color: green">Available</div>
						<div id="notAvailableP" style="display: none; color: red">E-mail
							has already Taken</div>
						<div id="invalidEmailP" style="display: none; color: red">Invalid
							Email</div>

						<div class="input">

							<input type="text" name="txtParentsFirstname"
								placeholder="First Name" id="txtParentsFirstname" required />

						</div>
						<div class="input">

							<input type="text" name="txtParentsLastname"
								placeholder="Last Name" id="txtParentsLastname" required />
						</div>
						<div class="radio">

							<input type="radio" name="gender" value="male" id="gender"
								required /> Male <input type="radio" name="gender"
								value="female" id="gender" required /> Female

						</div>

						<div class="input">

							<input type="password" placeholder="Password" name="password"
								id="passwordP" title="Password should be atleast 6 character"
								required />
						</div>
						<div id="passwordIncorrectP" style="display: none; color: red">Password
							must be 6 character Long</div>

						<div class="input">

							<input type="password" placeholder="Confirm Password"
								name="Confpassword" id="ConfpasswordP" required />
						</div>
						<div id="ConfIncorrectP" style="display: none; color: red">Confirm
							password must be same as password entered</div>


						<button type="submit" class="btn btn-login"
							id="registerP" disabled>Register</button>
						<span class="login-end">Already Registered ?<a href="Login"
							class="bottom-text-w3ls">Login here</a></span>
					</form>
				</article>
  
  
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <article class="shadow-lg p-3 mb-5 bg-white rounded">
					<form th:action="@{/newUserT}" method="post"
						enctype="multipart/form-data">

						<div class="legend last">Teacher</div>
						<div class="text-center">
							<p class="errorClass">
								<span th:text="${FailureT}"></span>
							</p>
						</div>

						<div class="input">
							<input type="email" placeholder="Email" name="email"
								id="validateEmailT" required />

						</div>
						<div id="availableT" style="display: none; color: green">Available</div>
						<div id="notAvailableT" style="display: none; color: red">E-mail
							has already Taken</div>
						<div id="invalidEmailT" style="display: none; color: red">Invalid
							Email</div>
						<div class="input">
							<input type="text" name="txtTeacherFirstname"
								placeholder="First Name" id="txtTeacherFirstname" required />
						</div>
						<div class="input">

							<input type="dropdown" name="txtTeacherLastname"
								placeholder="Last Name" id="txtTeacherLastname" required />
						</div>
						<div class="radio">

							<input type="radio" name="gender" value="male" id="gender"
								required /> Male <input type="radio" name="gender"
								value="female" id="gender" required /> Female

						</div>

						<div class="input">

							<input type="password" placeholder="Password" name="password"
								id="passwordT" title="Password should be atleast 6 character"
								required />
						</div>
						<div id="passwordIncorrectT" style="display: none; color: red">Password
							must be 6 character Long</div>

						<div class="input">

							<input type="password" placeholder="Confirm Password"
								name="Confpassword" id="ConfpasswordT" required />
						</div>
						<div id="ConfIncorrectT" style="display: none; color: red">Confirm
							password must be same as password entered</div>

						<div class="input">

							<input type="file" title="upload ID" name="txtTeacherDocument"
								placeholder="upload Document" id="txtTeacherDocument"
								accept="image/*" required />
						</div>
						<a href="#" class="show_hide" data-content="toggle-text">Instructions?</a>
                             <div class="contentInstruction" style="color:red">
                              <p >* Please Upload Your ID(Employee Id, Aadhaar Card Id etc)</p>
                              <p >* Please upload Jpeg/Jpg/Png Image</p>
							  <p >* File must be less than 10 MB in size</p>
                              </div>
						


						<button type="submit" class="btn btn-login"
							onsubmit="checkPassword()" id="registerT" disabled>Register</button>
						<span class="login-end">Already Registered ?<a href="Login"
							class="bottom-text-w3ls">Login here</a></span>

					</form>
				</article>
  
</div>
	
		<!-- title -->
	<!-- 	<h2 style="text-align: center">Register</h2> -->

		<!-- vertical tabs -->
		<div class="vertical-tab ">
			<div id="section1" class="section-w3ls"></div>
			<div id="section2" class="section-w3ls"></div>
		</div>
		<!-- //vertical tabs -->
		<div class="clear"></div>
	</div>
</div>


	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script>
	
	$(function(){
	$('#form-searchFuntion').hide();
	});
	</script>

</body>

</html>