<!Doctype>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

<div th:replace="common/header :: common-header"></div>

<title>Testimonial</title>


</head>

<body>



	<!--  CODE FOR NAVBAR -->
	<div th:replace="common/header :: navbar"></div>

		<div class="container">

			<div style="text-align:center">

				<h1 >---Testimonial---</h1>

			</div>
			
                    	<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a
								th:class="${textActive} ? 'nav-link active' : 'nav-link'"
								id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="true">Text</a></li>
							<li class="nav-item"><a
								th:class="${mediaActive} ? 'nav-link active' : 'nav-link'"
								id="profile-tab" data-toggle="tab" href="#profile" role="tab"
								aria-controls="profile" aria-selected="false">Media</a></li>
							<li class="nav-item"><a
								th:class="${fileActive} ? 'nav-link active' : 'nav-link'"
								id="profile-tab" data-toggle="tab" href="#pdf" role="tab"
								aria-controls="profile" aria-selected="false">File</a></li>

						</ul>
						
                        <div class="tab-content" id="myTabContent">
							<div th:class="${textActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="home" role="tabpanel" aria-labelledby="home-tab"> 
								
								<div class="testimonial-item" th:each="textTesti:${textTestimonial}">
				                    <div class="testimonial-content">
				                        
				                        <div class="message">
				                            <i class="fa fa-quote-left" style="color:#e6e6e6;"></i><h5 th:text="${textTesti.getDescription()}"></h5> <i class="fa fa-quote-right pull-right" style="color:#e6e6e6;"></i>
				                           
				                        </div>
				                    </div>
				                    <div class="testimonials-details">
				                        <div class="testimonials-caret"></div>
				                        <div class="user-details">
				                            <p th:text="${textTesti.getName()}+', ' + ${textTesti.getOrganization()}"/>
				                        </div>
				                    </div>
				                </div>
								   
                                
                                    
                            </div>
                        
	                        <div th:class="${mediaActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
									id="profile" role="tabpanel" aria-labelledby="profile-tab">
								
								<div class="testimonial-item" th:each="mediaTesti:${mediaTestimonial}">
				                    <div class="row testimonial-content">
				                        <div class='st_wrapper col-xs-12 col-md-7'>
				                            
				                                <video width="100%" height="250" controls>
				                                <source th:src="@{/files/}+@{${mediaTesti.getVideoPath()}}" type="video/mp4"/>
				                                </video>
				                            
				                        </div>
				                        <div class='col-xs-12 col-md-4 col-lg-5 col-md-offset-1 col-lg-offset-0'>
				                            <i class="fa fa-quote-left" style="color:#e6e6e6;"></i>
				                            <h5 class='st_wrapper' th:text="${mediaTesti.getDescription()}"> </h5>
				                            <i class="fa fa-quote-right pull-right" style="color:#e6e6e6;"></i>
				                        </div>
				                    </div>
				                    <div class="testimonials-details">
				                        <div class="testimonials-caret"></div>
				                        <div class="user-details">
				                        	 <h6 th:text="${mediaTesti.getName()}+', ' + ${mediaTesti.getOrganization()}"></h6>
				                        </div>
				                    </div>
				                </div>
								
									
							</div>
							
							<div th:class="${fileActive} ? 'tab-pane fade show active' : 'tab-pane fade show'"
								id="pdf" role="tabpanel" aria-labelledby="home-tab"> 
								
								<div class="testimonial-item" th:each="textTesti:${fileTestimonial}">
				                    <div class="testimonial-content">
				                        
				                        <div class="message">
				                            <i class="fa fa-quote-left" style="color:#e6e6e6;"></i><h5 th:text="${textTesti.getDescription()}"></h5> <i class="fa fa-quote-right pull-right" style="color:#e6e6e6;"></i>
				                           
				                        </div>
				                        <div style="float:right">
				                        	<a th:href="@{/files/}+@{${textTesti.getFilePath()}}"
																target="_blank" class="pdfclass"><img id="pdfsource"
																	th:src="${textTesti.getFilePath()}" alt="Click here to see"></img></a>
				                        </div>
				                    </div>
				                    <div class="testimonials-details">
				                        <div class="testimonials-caret"></div>
				                        <div class="user-details">
				                            <p th:text="${textTesti.getName()}+', ' + ${textTesti.getOrganization()}"/>
				                        </div>
				                    </div>
				                </div>
								   
                                
                                    
                            </div>
                         	
                    </div>
                     
		
			<!-- <div class="pagination" style="float: right">
				<nav aria-label="Page navigation example">
					<ul class="pagination pg-blue">
						<li class="page-item"
							th:each="i:${#numbers.sequence(0,EventList.totalPages-1)}"
							th:classappend="${current}==${i} ? 'active':''"><a
							th:href="@{/eventsList/(page=${i})}" th:text="${i}"
							class="page-link" th:classappend="${current}==${i} ? 'active':''" />

						</li>

					</ul>
				</nav>

			</div> -->
		
			

	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>





</body>


</html>